<article>
    <div class="page-header">
        <h1>Everything Else</h1>
        <p>Below are all the contact details and other bits and bobs that you might need. Let us know if you think anything else needs to go on here.</p>
    </div>
    <tabset>
        <tab heading="BVN Studios">
            <div class="row">
                <div class="col-md-3">
                    <h2>Brisbane</h2>

                    <p class="physical address">Level 4, 12 Creek Street
                        <br>Brisbane
                    </p>

                    <p class="postal address">GPO Box 2181
                        <br>Brisbane
                        <br>QLD 4001 Australia</p>

                    <p class="tel">Telephone +61 7 3852 2525</p>
                    <p class="fax">Facsimile +61 7 3852 2544</p>
                    <p class="email">brisbane@bvn.com.au</p>
                </div>

                <div class="col-md-3">
                    <h2>Canberra</h2>

                    <p class="physical address">Level 1
                        <br>The Realm
                        <br>18 National Circuit
                        <br>Barton
                        <br>ACT
                    </p>

                    <p class="tel">Telephone +61 2 6249 8666</p>
                    <p class="fax">Facsimile +61 2 6198 3333</p>
                </div>

                <div class="col-md-3">
                    <h2>Melbourne</h2>

                    <p class="physical address">Melbourne Central Tower
                        <br>Level 9
                        <br>360 Elizabeth Street
                        <br>Melbourne
                        <br>VIC 3000 Australia
                    </p>

                    <p class="tel">Telephone +61 3 9639 9199</p>
                    <p class="fax">Facsimile +61 3 9639 9188</p>
                    <p class="email">melbourne@bvn.com.au</p>
                </div>

                <div class="col-md-3">
                    <h2>Sydney</h2>

                    <p class="physical address">Level 11
                        <br>255 Pitt Street
                        <br>Sydney</p>

                    <p class="postal address">PO Box N646
                        <br>Grosvenor Place
                        <br>NSW 1220 Australia
                    </p>

                    <p class="tel">Telephone +61 2 8297 7200</p>
                    <p class="fax">Facsimile +61 2 8297 7299</p>
                    <p class="email">sydney@bvn.com.au</p>
                </div>
            </div>
        </tab>

        <tab heading="Travel">
            <h2>Spencer Travel</h2>
            <p class="postal address">601/64 Kippax Street
                <br>Surry Hills NSW 2010, Australia</p>
            <p class="tel">Ph: +61 2 9281 5477</p>
            <p class="tel">Emergency Afterhours: +61 2 9084 9001</p>

            <h3>Domestic</h3>
            <p>Tania Minassian</p>
            <p class="tel">Direct Line: +61 2 8264 7807</p>
            <p class="email">tania.minassian@spencertravel.com.au</p>

            <h3>International</h3>
            <p>Belinda Ward</p>
            <p class="tel">Direct: +61 2 8264 7804</p>
            <p class="email">belinda.ward@spencertravel.com.au</p>
        </tab>

        <tab heading="EAP">
            <div class="row">
                <div class="col-md-6">
                    <p>Assure provide an <a href="http://www.assureprograms.com.au/">'Employee Assistance Programme' </a>[EAP] that has been designed to provide positive support to each of us.</p>
                    <p>The programme  has been implemented to support wellness within the studio. As discussed at the introduction to Assures' services, access to this programme is up to the individual - no referral is needed. The consultations you may choose to have are confidential and are at no cost to you when it falls within our EAP agreement. Details of their contracted services can be found in this <a href="http://blogs.bvn.com.au/tropos/files/2015/03/BVN-EAP-Awareness-Brisbane-Employees-Powerpoint.pdf">programme outline</a>. If services beyond what we are contracted for are required/suggested these will be outlined with the individual and the adoption of them are at their discretion.</p>
                    <p>Assure has clinical psychologists' able to assist 24/7 and they can be reached by calling 1800 505 015. This number has been added to the BVN phone list.</p>
                    <p>Assures' [EAP] recognises that any number of factors can effect your happiness and satisfaction in the workplace and the service has been designed to address big and small problems that arise either at work or in your personal life in a positive way.</p>
                    <p>The types of support and coaching that Assure may assist you [or your family] with include, but are not limited to:</p>
                    <ul>
                        <li>General feelings of anxiety, stress or depression</li>
                        <li>Feeling overwhelmed by pressures placed on you in the workplace and/or situations at home</li>
                        <li>The difficulties families face with with work life balance</li>
                        <li>Personal issues with your partner or other people close to you</li>
                        <li>Family challenges such as divorce, serious illness or a death in the family</li>
                        <li>Conflict with a team member or members</li>
                        <li>Frustration with a lack of career progression</li>
                        <li>The struggle to successfully return to work after a period of extended leave due to injury, maternity leave, etc.</li>
                    </ul>
                    <p>Generally, the EAP on offer will positively support anything effecting your mental health. Please feel able to access their services confidentially and with confidence.</p>
                    <p>Assure also provide online support and resources. There are some handy hints and tips here which may come in handy at work or home.  Instructions for how to access this portal can be found <a href="http://blogs.bvn.com.au/tropos/files/2015/03/Assure-Customer-Site-Overview_BVN.pdf">here</a>.</p>
                    <p>We hope that this service will be useful to you. The studio supports wellbeing and hopes that you will benefit from this relationship with Assure.</p>
                    <p>If you have any further questions don't hesitate to speak with any of the Principals, Bianca or Mel.</p>
                </div>
                <div class="col-md-6">
                    <iframe src="https://player.vimeo.com/video/121194031" width="500" height="400" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    <p style="font-size:300%;">1800 505 015</p>
                    <a href="http://www.assureprograms.com.au/"><img src="https://media.licdn.com/media/p/5/005/081/167/2ee4e56.png">
                    </a>
                </div>
            </div>
        </tab>
    </tabset>
</article>
