  <div class="{{ subgroupClass }}" ng-repeat="subobject in [target()]">
    <button class="shuffle-btn pull-right" ng-if="orderable && !isLast()" 
            type="button"
            ng-click="shiftDown()">↹</button>
    <button ng-if="isPlural()"
            type="button"
            ng-click="removeObject(subobject)"
            class="close pull-right"
            aria-hidden="true"
            title="Remove this">
      &times;
    </button>
    <div ng-transclude></div>
  </div>
  <a ng-if="isPlural() && isLast()"
     class="btn btn-primary add-button"
     ng-click="addObject()">Add</a>
