<div class="row hit-area">
  <div class="form-group show-field">
    <label class="col-xs-12 col-sm-3 control-label editable-lable"
           for="{{ getName() }}"
           tooltip-placement="top"
           tooltip-html-unsafe="{{ lens }}.<wbr>{{property}}"
           tooltip-trigger="click">{{ label }}</label>

    <div class="col-xs-12 col-sm-9"
         tooltip-placement="top"
         tooltip-html-unsafe="{{ tooltipText }}"
         tooltip-trigger="mouseenter"><!--data area-->
      <div ng-show="!editorEnabled"
         class="form-control-static editable editable-text editable-output"
         ng-click="enableEditor($event)"
         analytics-on="click"
         analytics-event="editable enabled by {{getCurrentUserLogin()}}"
         analytics-label="{{ label }}"
         analytics-category="editable-buttons">
        <p class="editable-text-display" ng-if="type == 'number'" ng-bind="subobject[property] | number"></p>
        <p class="editable-text-display" ng-if="type == 'checkbox'" ng-bind="subobject[property] ? 'Yes' : 'No'"></p>
        <!-- See #239 for why the " + '' " exists below. -->
        <div class="editable-text-display" ng-if="type != 'number' && type != 'checkbox'" ng-bind-html="subobject[property]"></div>
      </div>

      <div ng-show="editorEnabled"
           class="input-group editable-input">
        <input ng-if="type != 'textarea' && type != 'year'"
               typeahead="{{ typeahead }}"
               type="{{ type }}"
               ng-model="editable.value"
               ng-keyup="maybeCancelOrSave($event)"
               class="form-control"
               name="{{ getName() }}"/>
        <input ng-if="type == 'year'"
               type="text" pattern="\d\d\d\d"
               ng-model="editable.value"
               ng-keyup="maybeCancelOrSave($event)"
               class="form-control"
               name="{{ getName() }}"/>
        <textarea ng-show="type == 'textarea'"
                  ng-keyup="maybeCancelOrSave($event)"
                  ng-model="editable.value">
        </textarea>
        <span class="save-btn input-group-addon" ng-click="save()">
          <span class="glyphicon glyphicon-ok"
                title="save"
                analytics-on="click"
                analytics-event="editable ok clicked by {{getCurrentUserLogin()}}"
                analytics-label="{{ label }}"
                analytics-category="editable-buttons"
                ></span>
        </span>
        <span class="input-group-addon" ng-click="cancel()">
          <span class="glyphicon glyphicon-remove"
                title="cancel"
                analytics-on="click"
                analytics-event="editable cancel clicked by {{getCurrentUserLogin()}}"
                analytics-label="{{ label }}"
                analytics-category="editable-buttons"
                ></span>
        </span>
      </div><!--end editorEnabled-->
    </div>  <!--end data area-->

  </div>    <!--end form-group-->
</div>      <!--end row-->
