<div>
  <div ng-if="isPlural()">
    <div class="{{ subgroupClass }}"
         ng-repeat="subobject in target()" >
      <div class="eg-box">
        <div ng-transclude></div>
        <a class="btn btn-warn" ng-click="removeObject(subobject)">Remove</a>
        <button type="button"
                ng-click="removeObject(subobject)"
                class="eg-close"
                aria-hidden="true"
                title="Remove this">
          &times;
        </button>
      </div>
    </div>
    <a class="btn btn-primary" ng-click="addObject()">Add</a>
  </div>
  <div class="{{ subgroupClass }}"
      ng-repeat="_ in [1]"
      ng-if="!isPlural()"
      ng-transclude></div>
</div>