<div class="row hit-area">
  <div class="form-group show-field">

    <label class="col-xs-12 col-sm-3 control-label editable-lable" for="{{ getName() }}">{{ label }}</label>
    
    <div class="col-xs-12 col-sm-9"><!--data area-->
      <div ng-hide="editorEnabled"
         class="form-control-static editable editable-text"
         ng-click="enableEditor($event)">
        <span ng-hide="subobject && sublens" ng-bind-html="{{ get(object, lens) }}"></span>
        <span ng-show="subobject && sublens" ng-bind-html="{{ subobject[sublens] }}"></span>
        <span class="glyphicon glyphicon-hand-left pull-right" title="edit"></span>
      </div>
      <div ng-show="editorEnabled" 
           class="input-group">
        <input ng-show="type != 'textarea'"
               type="{{ type }}"
               ng-model="editableValue"
               class="form-control" />
        <textarea ng-show="type == 'textarea'"
                  ng-model="editableValue">
        </textarea>
        <span class="input-group-addon" ng-click="save()">
          <span class="glyphicon glyphicon-ok"
                title="save"></span>
        </span>
        <span class="input-group-addon" ng-click="cancel()">
          <span class="glyphicon glyphicon-remove"
                title="cancel"></span>
        </span>
      </div><!--end editorEnabled-->
    </div>  <!--end data area-->   

  </div>    <!--end form-group-->
</div>      <!--end row-->
