<div class="row">
  <div class="col-xs-12">
    <input type="text"
           id="searchBar"
           ng-model="searchQuery"
           class="filter-box"
           ng-keydown="logKey($event)"
           placeholder="type to search...">
  </div>
</div>

<div class="row flex-container" >
  <!--start a project/person box as a directive-->
  <display-box
              ng-repeat="p in searchResults | orderBy:sortFunctions"
              class="{{stormtrooperClass}}"
              title-text="{{p.name.preferred_first}} {{p.name.preferred_last}}"
              body-text="{{ p.employee.contact.extension }}"
              img-src="{{p.employee.photo.bw}}"
              condition='{{p.current_condition_name}}'
              redirect-link="#/people/{{ p.id['$oid'] }}"
              email="{{p.employee.contact.work_email}}"
              first-name="{{p.name.preferred_first}}">
    <!-- <p ng-transclude></p> -->
  </display-box>

</div>
