<div class="row">
  <div class="col-xs-11">
    <input type="text" 
           ng-model="searchQuery" 
           class="filter-box"
           placeholder="type to search...">
  </div>
  <div class="col-xs-1">
    <a ng-hide="loggedIn()" 
       class="btn btn-success" 
       href="{{ getLogInLink() }}">Log In</a>
    <a ng-show="loggedIn()" 
       class="btn btn-primary" 
       ng-click="logout()">Log Out</a>
  </div>
</div>

<div class="row">
  <!--start a project/person box as a directive-->
  <display-box ng-repeat="p in people() | filter:compareTo(searchQuery)"
              title-text="{{p.name.preferred_first}} {{p.name.preferred_last}}"
              body-text="Some body text"
              img-src="{{p.employee.photo.bw}}"
              more-link="{{ getMoreLink( p.id['$oid'] ) }}">
    <p>{{ p.employee.contact.extension }}</p>
    <p>{{ p.employee.contact.studio }}</p>
  </display-box>
  
</div>
