<div class="row">
  <div class="col-xs-12">
    <input type="text"
           id="searchBar"
           ng-model="searchQuery"
           class="filter-box"
           ng-keydown="logKey($event)"
           placeholder="type to search...">
  </div>
</div>

<div class="row flex-container" >
  <!--start a project/person box as a directive-->
  <display-box
              ng-repeat="p in searchResults | orderBy:sortFunctions | limitTo:limit track by $id(p)"
              class="{{stormtrooperClass}}"
              title-text-one="{{p.name.preferred_first}}"
              title-text-two="{{p.name.preferred_last}}"
              body-text="{{ p.employee.contact.extension }}"
              img-src="{{p.employee.photo.bw}}"
              condition='{{p.current_condition_name}}'
              redirect-link="#/people/{{ p.employee.login }}"
              email="{{p.employee.contact.work_email}}"
              first-name="{{p.name.preferred_first}}"
              value-tweet="{{p.employee.value_tweet || p.name.preferred_first+' '+p.name.preferred_last +' hasn&rsquo;t written a value tweet yet!'}}">
              <!--I loved @debcha's talk about what DIY biohackers can learn from medical materials science and now you can to. youtube.com/watch?v=zJBb16…-->
  </display-box>

</div>
<div>
  <a class="center-block btn" ng-if="showMore()" ng-click="showAll()">Show all</a>
</div>
