<div ng-show="person()">
  <h1>Check out {{ person().name.preferred_first }}'s Page!!</h1>
  <p>{{ person().name.prefix }} {{ person().name.first }} {{ person().name.last }} {{ person().name.suffix }}'s  prefers to be called {{ person().name.preferred_first }}.</p>
  
  <section ng-show="person().employee">
    <h3>login</h3>
    <p><span class="field-name">login</span>{{person().employee.login}}</p>
    <h3>position</h3>
    <p><span class="field-name">position</span>{{person().employee.position}}</p>
    
    <h3>photo</h3>
    <div class="row">
      <img class="col-sm-4" ng-src="{{ person().employee.photo.bw  }}" itemprop="image" />
      <img class="col-sm-4" ng-src="{{ person().employee.photo.colour }}" itemprop="image" />
      <img class="col-sm-4" ng-src="{{ person().employee.photo.fun }}" itemprop="image" />
    </div>
    
    <h3>conditions</h3>
    <div class="row">
      <div class="alert alert-info col-sm-4" ng-repeat="c in person().employee.conditions">
        <p><span class="field-name">name</span>      {{c.name}}</p>
        <p><span class="field-name">start_date</span>{{c.start_date}}</p>
        <p><span class="field-name">end_date</span>  {{c.end_date}}</p>
      </div>
    </div>
        
    <h3>office_culture</h3>
    <p><span class="field-name">first_aider</span>{{person().employee.office_culture.first_aider}}</p>
    <p><span class="field-name">fire_warden</span>{{person().employee.office_culture.fire_warden}}</p>
    <div class="row">
      <div class="alert alert-info col-sm-4" 
           ng-repeat="e in person().employee.office_culture.event_participations">
        <p><span class="field-name">name</span>{{e.name}}</p>
        <p><span class="field-name">date</span>{{e.date}}</p>
        <p><span class="field-name">url</span> <a href="{{e.url}}">{{e.url}}</a></p>
      </div>
    </div>    
    <p><span class="field-name">dietary.requirements</span>
                                       {{person().employee.office_culture.dietary.requirements}}</p>
    <p><span class="field-name">dietary.preference.likes</span>
                                       {{person().employee.office_culture.dietary.preference.likes}}</p>
    <p><span class="field-name">dietary.preference.dislikes</span>
                                       {{person().employee.office_culture.dietary.preference.dislikes}}</p>
    
    <h3>contact</h3>
    <p><span class="field-name">extension</span>{{person().employee.contact.extension}}</p>
    <p><span class="field-name">studio</span>{{person().employee.contact.studio}}</p>
    <p><span class="field-name">work_email</span>{{person().employee.contact.work_email}}</p>
    <h4>Mobile</h4>
    <p><span class="field-name">mobile.number</span>{{person().employee.contact.mobile.number}}</p>
    <p><span class="field-name">mobile.is_work</span>{{person().employee.contact.mobile.is_work}}</p>
    <p><span class="field-name">mobile.distribute</span>{{person().employee.contact.mobile.distribute}}</p>
    
    <h3>security_clearances</h3>
    <div class="row">
      <div class="alert alert-info col-sm-4" 
           ng-repeat="sc in person().employee.security_clearances">
        <p><span class="field-name">issuing_body</span>{{sc.issuing_body}}</p>
        <p><span class="field-name">level       </span>{{sc.level}}</p>
        <p><span class="field-name">expiry      </span> {{sc.expiry}}</a></p>
      </div>
    </div>    
    
    <h3>finance</h3>
    <p><span class="field-name">employee_code</span> {{sc.finance}}</a></p>
    <p class="well well-sm">This is the foreign key into micropay</p>
    
    
    
    <section ng-show="person().employee.biography">
      <h2>Biography</h2>
      <p>{{ person().employee.biography.one_line_bio }}</p>
      <p>{{ person().employee.biography.expertise }}</p>
    </section>
  </section>
</div>




















<p>Using http://schema.org/Person for the markup, still needs organisng and styling</p>
<div itemscope itemtype="http://schema.org/Person" ng-show="person()">
  <section ng-show="person().name">
    <span itemprop="name">
      <span itemprop="givenName" >{{ person().name.preferred_first }}</span> 
      <span itemprop="familyName">{{ person().name.preferred_first }}</span> 
    </span><br>
    
    <span itemprop="name">
      <span itemprop="honorificPrefix" >{{ person().name.prefix }}</span> 
      <span itemprop="familyName">{{ person().name.first }}</span> 
      <span itemprop="givenName" >{{ person().name.last }}</span> 
      <span itemprop="honorificSufix">{{ person().name.suffix }}</span> 
    </span>
  </section>
  
  <section ng-show="person().employee">
  <h2>Contact</h2>
    Studio:<span itemprop="workLocation">{{ person().studio }}</span><br>
    <div>
      <img ng-src="{{ person().employee.photo.bw  }}" itemprop="image" />
      <img ng-src="{{ person().employee.photo.colour }}" itemprop="image" />
      <img ng-src="{{ person().employee.photo.fun }}" itemprop="image" />
    </div>
    
    <span itemprop="jobTitle">{{ person().employee.position }}</span><br>
    
    <div>
      <i class=".glyphicon .glyphicon-earphone" ></i><span itemprop="telephone">{{ person().contact.phoneDirect }}</span><br>
      <i class=".glyphicon .glyphicon-phone"    ></i><span itemprop="telephone">{{ person().contact.phoneMobile }}</span><br>
      <i class=".glyphicon .glyphicon-phone-alt"></i><span itemprop="telephone">{{ person().contact.extension }}</span><br>
      <a href="mailto:jane-doe@xyz.edu" itemprop="email">{{ person().contact.email }}</a>
    </div>
    
    <div ng-repeat="a in person().personalAwards">
      <div itemscope itemprop="award">
        <span itemprop="">{{a.xxx}}</span><br>
        <time itemprop="" datetime="2009-11-13"></time>
        <span itemprop="">{{a.xxx}}</span><br>
        <span itemprop="">{{a.xxx}}</span><br>
        <a href="{{a.URL}}" itemprop="URL">a link</a>
      </div>
    </div>
    
    <div ng-repeat="q in person().qualifications">
      <!--<div itemprop="Event">--><!--is education an event?-->
        <span itemprop="alumniOf">{{q.xxx}}</span><br>
        
        <a href="{{q.URL}}" itemprop="url">a link</a>
      <!--</div>-->
    </div>
  </section>
  
  <section class='hidden-details' style="display:none;">
    <span itemprop="isicV4">8712-02</span><br> (Architects)
    <span itemprop="worksFor">some clever stuff that checks if someone is a current employee, if so, says BVN DH, if not gets their currently known employer</span><br>
  </section>
</div>
