<article>
    <div class="page-header">
        <h1>Everything Else</h1>
        <p>Below are all the contact details and other bits and bobs that you might need. Let us know if you think anything else needs to go on here.</p>
    </div>
    <tabset>
        <tab heading="BVN Studios">
            <div class="row">
                <div class="col-md-3">
                    <h2>Brisbane</h2>

                    <p class="physical address">Level 4, 12 Creek Street
                        <br>Brisbane
                    </p>

                    <p class="postal address">GPO Box 2181
                        <br>Brisbane
                        <br>QLD 4001 Australia</p>

                    <p class="tel">Telephone +61 7 3852 2525</p>
                    <p class="fax">Facsimile +61 7 3852 2544</p>
                    <p class="email">brisbane@bvn.com.au</p>
                </div>

                <div class="col-md-3">
                    <h2>Canberra</h2>

                    <p class="physical address">Level 1
                        <br>The Realm
                        <br>18 National Circuit
                        <br>Barton
                        <br>ACT
                    </p>

                    <p class="tel">Telephone +61 2 6249 8666</p>
                    <p class="fax">Facsimile +61 2 6198 3333</p>
                </div>

                <div class="col-md-3">
                    <h2>Melbourne</h2>

                    <p class="physical address">Melbourne Central Tower
                        <br>360 Elizabeth Street
                        <br>melbourne
                        <br>VIC 3000 Australia
                    </p>

                    <p class="tel">Telephone +61 3 9639 9199</p>
                    <p class="fax">Facsimile +61 3 9639 9188</p>
                    <p class="email">melbourne@bvn.com.au</p>
                </div>

                <div class="col-md-3">
                    <h2>Sydney</h2>

                    <p class="physical address">255 Pitt Street
                        <br>Sydney</p>

                    <p class="postal address">PO Box N646
                        <br>Grosvenor Place
                        <br>NSW 1220 Australia
                    </p>

                    <p class="tel">Telephone +61 2 8297 7200</p>
                    <p class="fax">Facsimile +61 2 8297 7299</p>
                    <p class="email">sydney@bvn.com.au</p>
                </div>
            </div>
        </tab>

        <tab heading="Travel">
            <h2>Spencer Travel</h2>
            <p class="postal address">601/64 Kippax Street
                <br>Surry Hills NSW 2010, Australia</p>
            <p class="tel">Ph: +61 2 9281 5477</p>
            <p class="tel">Emergency Afterhours: +61 2 9084 9001</p>

            <h3>Domestic</h3>
            <p>Tania Minassian</p>
            <p class="tel">Direct Line: +61 2 8264 7807</p>
            <p class="email">tania.minassian@spencertravel.com.au</p>

            <h3>International</h3>
            <p>Belinda Ward</p>
            <p class="tel">Direct: +61 2 8264 7804</p>
            <p class="email">belinda.ward@spencertravel.com.au</p>
        </tab>
    </tabset>
</article>
