body {
    padding-top: 50px;
    position: relative;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
}
.demo {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    justify-content: center;
    position: relative;
    height: 200px;
    // width: 200px;
}
.info-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}
.details {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 50%;
    position: absolute;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0 15px 0 0;
    -moz-transition: top 0.25s;
    -webkit-transition: top 0.25s;
    -o-transition: top 0.25s;
    transition: top 0.25s;
    h1 {
        font-size: 24px;
    }
}
.drawer-in {
    top: 100%;
}
.drawer-out {
    top: 50%;
}
.title {
    position: relative;
    width: 200px;
    margin: 0;
    -moz-transition: top 0.25s, color 0.25s;
    -webkit-transition: top 0.25s, color 0.25s;
    -o-transition: top 0.25s, color 0.25s;
    transition: top 0.25s, color 0.25s;
}
.title-drawer-in {
    top: -40px;
    color: rgba(200, 54, 54, 0.9);
}
.title-drawer-out {
    top: 0;
    color: rgba(255, 255, 255, 0.9);
}
.more-button {
    position: absolute;
    right: 1em;
    bottom: 1em;
}
/*condition styling*/
.Active {
    /*this is the default, leave it blank for the moment*/
}
.Retired {
    border-bottom: 5px solid blue;
}
.Maternity {
    border-bottom: 5px solid pink;
}
.Leave {
    border-bottom: 5px solid orange;
}
.Deceased {
    opacity:0.2;
}
.Applicant {
    border-bottom: 5px solid green;
}
.Left {
    border-bottom: 30px solid grey;
}
.Unknown {
    border-bottom: 5px solid red;
}
