.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.demo {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    justify-content: center;
    position: relative;
    height: 200px;
    max-width: 50%;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.info-box {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    pointer-events: none;
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}
.details {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 50%;
    position: absolute;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0 15px 0 0;
    h1 {
        font-size: 24px;
    }
}
.value-tweet-container {
    // z-index: 2000;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.9);
    padding: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box; /* Remove if you don't want to cover the entire tile */
    height: 100%; /* Remove if you don't want to cover the entire tile */
    width: 100%; /* Remove if you don't want to cover the entire tile */
    -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
    opacity: 0;
    p{
        font-size: 90%;
        text-decoration: none;
    }
    &:hover{
        opacity: 1;
    }
}
.name-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    padding-left: 0.2em;
    background: linear-gradient(to top, hsla(0,0%,0%,0.9) 0%,hsla(0,0%,0%,0) 100%);
    h1{
        color: red;
        font-size: 125%;
        .primary  {}
        .secondary{}
        .number   {
            text-transform: uppercase;
        }
    }
}
.problem-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.2);
    color: wheat;
    border: none;
}
/*condition styling*/
.Active    { /*this is the default, leave it blank for the moment*/}
.Retired   { border-bottom:  5px solid blue;  }
.Maternity { border-bottom:  5px solid pink;  }
.Leave     { border-bottom:  5px solid orange;}
.Deceased  { opacity:       0.2;              }
.Applicant { border-bottom:  5px solid green; }
.Left      { opacity: 0.6;
             -webkit-filter: blur(5px);
             -moz-filter: blur(5px);
             -ms-filter: blur(5px);
             -o-filter: blur(5px);
             filter: blur(5px);
}
.Unknown   { border-bottom:  5px solid red;   }


@media screen and (orientation: portrait) and (max-width: 520px) {

    .demo {
        height: 80px;
        flex-basis: 300px;
    }
    .more-button {
        position: absolute;
        right: 0;
        height: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0;
        border: none;
        width: 5em;
    }
    .details {
        color: white;
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 0 15px 0 0;
        -webkit-transition: top 0.25s;
        transition: top 0.25s;
        p, h1 {
            display: inline;
        }
    }
    .drawer-out, .drawer-in, .title-drawer-out, .title-drawer-in {
        top: 0;
    }
}
