div[contenteditable="true"]{
    background-color: white;
    border: 1px solid silver;
    padding: 0.5em;
}
div.editable-text-display {
    max-height: 6em;
}

.editable-lable, .editable-text{
    line-height:20px;
    padding-top:6px;
    padding-bottom:6px;
}
.editable-text{
    padding-left:12px;
    overflow-wrap: break-word;/*stop long links etc from poking out of the container*/
    //word-break:break-all;/*this might be overkill*/
    min-height:2em;/*makes sure that empty fields are clickable*/
}
.editable-lable{
    text-align: right;
}
.hit-area{
    border: 1px dashed rgba(255, 255, 255, 0.2); /*temporary way to show what's an editable and what isn't*/
    &:hover{
        background:rgba(255, 255, 255, 0.2);
    }
}

.editable-input textarea {
  width:400px;
  height: 200px;
}

.editable-output:hover {
  background-color: rgba(0,0,0,0.05);
}

.tooltip{
    overflow-wrap:break-word;
}

@media (max-width: 767px){
    .editable-lable{
        text-align: left;
    }
}

input:invalid {
  border: 3px solid red;
}
input:valid {
  border: 2px solid green;
}
input:invalid + textarea + .save-btn{
   opacity: 0.3;
   pointer-events: none;
}
