.editable-lable, .editable-text{
	line-height:20px;
	padding-top:6px;
	padding-bottom:6px;
}
.editable-text{
	padding-left:12px;
}
.editable-lable{
	text-align: right;
}
.hit-area{
	
	&:hover{
		background:rgba(255, 255, 255, 0.2);
	}
}