div[contenteditable="true"]{
    background-color: white;
    border: 1px solid silver;
    padding: 0.5em;
}
.editable-text-display div {
  margin-bottom: 0.5em;
}

.editable-lable, .editable-text{
    line-height:20px;
    padding-top:6px;
    padding-bottom:6px;
}
.editable-text{
    padding-left:12px;
    overflow-wrap: break-word;/*stop long links etc from poking out of the container*/
    //word-break:break-all;/*this might be overkill*/
    min-height:2em;/*makes sure that empty fields are clickable*/
}
.editable-lable{
    text-align: right;
}
.hit-area{
    border: 1px dashed rgba(255, 255, 255, 0.2); /*temporary way to show what's an editable and what isn't*/
    &:hover{
        background:rgba(255, 255, 255, 0.2);
    }
}

.editable-input textarea {
  width:400px;
  height: 200px;
}

.editable-output:hover {
  background-color: rgba(0,0,0,0.05);
}

.tooltip{
    overflow-wrap:break-word;
}
.row .alert {
  position: relative;
}
button.close {
    position: absolute;
    right: -0.5em;
    top:   -0.5em;
    background-color: #bce8f1;
    border-radius: 10px;
    padding: 5px;
    /* border: 2px solid #00D2FC; */
    padding-top: 0px;
}
.add-button{
  
}

@media (max-width: 767px){
    .editable-lable{
        text-align: left;
    }
}

input:invalid {
  border: 3px solid red;
}
input:valid {
  border: 2px solid green;
}
input:invalid + textarea + .save-btn{
   opacity: 0.3;
   pointer-events: none;
}

editable-group[lens="employee.photo"] div.editable-text-display {
    word-wrap: break-word;
    padding-right: 2em;
}

.tags {
  display: inline-block;
  .tag-input {
    cursor: text;
    float: right;
    display: inline-block;
  }
  ul.tag-list {
    list-style-type: none;
    display: inline-block;
    li.tag-item {
      margin: 2px;
      padding: 0px 5px;
      display: inline-block;
      float: left;
      border: 1px solid #ACACAC;
      border-radius: 3px;
      background: linear-gradient(to bottom, #F0F9FF 0px, #CBEBFF 47%, #A1DBFF 100%) repeat scroll 0% 0% transparent;
    }
  }
}
