$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
/*display-box starts here*/
@import "display-box";
/*editable starts here*/
@import "editable";


/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: rgba(128, 128, 128, 0.75);;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 0;
}

.container{
  width:100%;
  /*This overrides the media queries so that it has a full width layout all the time*/
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.face-box{
  position:relative;
  margin-bottom: 1em;
}
.name-tag{
  position: absolute;
  top: 5px;
  left: 20px;
}
.full-width{
  width:100%
}
.field-name{
  width: 35%;
  display: inline-block;
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
  overflow: hidden;
}
.ang-inserted{
  width: 60%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.explantory-text {
  color: antiquewhite;
  max-width: 600px;
}

.filter-box{
  width: 100%;
  margin-bottom: 1em;
  font-size: 3em;
  /*border-radius: 1em;*/
  border: none;
  padding-left: 1em;
}

/* Flash box */
.flashes {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1061;
}
.flash {
  margin: 10px;
  z-index: 9999;
  top: 69px;
  width: 250px;
  right: 20px;
  background-color: rgba(200,200,200,0.6);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(200,200,200,1);
  border-radius: 6px;
  padding:8px;
}
