$iconSpritePath:"../images/glyphicons-halflings.png";
$iconWhiteSpritePath:"../images/glyphicons-halflings-white.png";
@import "bootstrap-sass/lib/bootstrap";

/*display-box starts here*/

@import "display-box";

/*editable starts here*/

@import "editable";
/* Put your CSS here */

// @font-face {
//     font-family: 'Blender';
//     src: url('http://syd-dc.bvn.com.au/practice/Research/Ben/BL-14-070-Fontorder/Font/Blender%20OTF/blender.eot');
//     src: url('http://syd-dc.bvn.com.au/practice/Research/Ben/BL-14-070-Fontorder/Font/Blender%20OTF/blender.ttf')               format('truetype'),
//          url('http://syd-dc.bvn.com.au/practice/Research/Ben/BL-14-070-Fontorder/Font/Blender%20OTF/blender.svg#Blender') format('svg');
// }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p,html, body{
    font-family: "Blender", "Helvetica Neue", Helvetica, Arial, sans-serif;
    clear: both;
}
html, body {
    margin: 0;
    padding-top: 0;
}
body {
    background: rgba(255, 255, 255, 1);
    font-size: 180%;
}
h3 {
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
}
article {
    margin-bottom: 10em;
}
.container {
    width: 100%;
    /*This overrides the media queries so that it has a full width layout all the time*/
    margin-bottom: 20em;
    padding: 0 4em;
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}
.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
li a#wiki-link div {
    font-size: 60%;
    line-height: 85%;
}
li a#wiki-link div strong {
    display: inline-block;
    width: 0.6em;
    text-align: center;
}
.face-box {
    position: relative;
    margin-bottom: 1em;
}
.name-tag {
    position: absolute;
    top: 5px;
    left: 20px;
}
.full-width {
    width: 100%
}
.field-name {
    width: 35%;
    display: inline-block;
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
    overflow: hidden;
}
.ang-inserted {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.explantory-text {
    color: rgba(0, 0, 0, 0.9);
    max-width: 600px;
}
.filter-box {
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 3em;
    /*border-radius: 0.25em;*/
    border: none;
    padding-left: 1em;
    border: 1px solid silver;
    &:focus {
        border: 1px solid orange;
    }
}
.urlink {
  width: 100%;
  text-align: right;
  font-size: 80%;
}

/* Flash box */
.flashes {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1061;
}
.flash {
    margin: 10px;
    z-index: 9999;
    top: 69px;
    width: 250px;
    right: 20px;
    background-color: rgba(200, 200, 200, 0.6);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(200, 200, 200, 1);
    border-radius: 6px;
    padding: 8px;
    -moz-transition: border-color 0.25s;
    -webkit-transition: border-color 0.25s;
    -o-transition: border-color 0.25s;
    transition: border-color 0.25s;
}
.flash-fail {
    background-color: rgba(255, 0, 0, 0.2);
    border-color: rgba(255, 0, 0, 1);
}
.flash-success {
    background-color: rgba(0, 255, 0, 0.2);
    border-color: rgba(0, 255, 0, 1);
}
.login-btn {
    margin: 8px;
    .btn {
        margin-right: 8px;
    }
}
.temp-map {
    width: 100%;
}
sw-map {
    width: 100%;
    min-height: 512px;
    display: block;
}

.alert-info {
    margin-right: 10px;
}
a#LogIn {
    font-size: 4em;
}
.data-parent-text{
    color:silver;
    font-size: 90%;
}
.data-question-text{
    color: orange;
    &:before{
        content:'A question for everyone:';
    }
}


@media screen and (orientation: portrait) and (max-width: 520px) {
    .col-xs-12 {
        padding: 0;
    }
    .filter-box {
        margin: 0;
    }
    .container{
        padding: 0;
    }
}


.personal-project-list {
    -webkit-column-width: 14em;
       -moz-column-width: 14em;
            column-width: 14em;
    list-style-type: none;
    li {
        margin-bottom: 0.5em;
        img {
                height: 4em;
                width:  4em;
                border-radius: 50%;
                margin: 0.5em;
                object-fit: cover;
            }
        }
        a{
            display: inline-block;
            width: 8em;
        }
}


#business-card{
    p {
        font-family: 'Blender', sans-serif;
        font-size: 5pt;
        line-height: 110%;
        padding: 0;
        margin: 0;
    }
    .bold {
        font-weight: bold;
    }
    .name,
    .role,
    .address {
        text-transform: uppercase;
    }
    .email{
        text-transform: lowercase;
    }
    .no-break {
        white-space: nowrap;
    }
    .name {
        font-size: 7pt;
    }
    .meta,
    .address {
        margin-bottom: 1.2pt;
    }
    .contact {
        margin-bottom: 2pt;
    }
    .card-border {
        opacity: 0.3;
        fill: white;
        stroke: silver;
        stroke-width: 0.5;
    }
    .logo {
        fill: black;
        fill-rule: nonzero;
        stroke: none;
    }
}

//svg styling
svg {
    width: 100%;
    height: 100%;

    .whitebox {
        fill: white;
        stroke-width: 0.3;
        stroke: black;
    }
    .simple-line {
        fill: none;
        stroke-width: 0.3;
    }
    .stroke-orange {
        stroke: orange;
    }
    .stroke-grey {
        stroke: grey;
    }
    .stroke-black {
        stroke: black;
    }
    .stroke-teal {
        stroke: teal;
    }
    .stroke-pink {
        stroke: pink;
    }
    .unknown-void{
        fill:dimgrey;
    }
    .colour-block-orange {
        fill: orange;
        stroke-width: 0.3;
        stroke: orange;
    }
    .storage {
        fill: pink;
        stroke: orange;
        stroke-width: 0.3;
    }
    .chair-marker{
        display: none;
    }
}

//project sheets
.project-sheet{
    .note {
        width: 8em;
        display: block;
        font-size: 80%;
        line-height: 90%;
        background-color: bisque;
        padding: 0.5em;
        border-radius: 0.3em;
        float: right;
    }
    .photos{
        padding: 1em;
        width: 50%;
        float:left;
        position: relative;
        .refreshing-overlay {
            transition: all 0.2s linear;
            position: absolute;            
            height: 900px;
            width: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.46);
            border-radius: 1em;
            opacity: 0;
            padding-top: 250px;
            text-align: center;
        }
        &:hover .refreshing-overlay {
            opacity: 1;
        }
        img{
            width: 49%;
            height: 300px;
            object-fit: cover;
            &:nth-child(2){
                width:100%;
                margin-bottom: 1em;
                height: 550px;
            }
            &:nth-child(3){float:left;}
            &:nth-child(4){float:right;}
        }
    }
    .text{
        width: 50%;
        float:right;
    }
    h1,h2,h3{
        text-transform: uppercase;
        border: none;
    }
    h1{
        margin-bottom: 2em;
        width: 100%;
        display: block;
    }
    h2{
        font-size: 100%;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0.3em
    }
    .body{
        width:60%;
        float: left;
        padding-right: 2em;
    }
    .body-text, .testimonials{}
    .body-text{
        p{
            font-size: 100%;
            &:first-child{
                font-size: 140%;
            }
        }
    }
    figure{
        blockquote {
            margin: 0;
            border: none;
            padding: 0;
        }
        figcaption {
            text-align: right;
        }
    }
    .bites{
        p{margin-bottom: 0.2em;}
        width:40%;
        float: right;
        .attribution,
        .client,
        .location,
        .completion,
        .value,
        .services,
        .size,.brief-elements{
            border-bottom:1px solid black;
            padding-left: 1em;
        }
        .attribution{font-weight: bold;}
        .data{border-top:   1px solid black;}
        .brief-elements{
            ul{
                //list-style-position: inside;
                //list-style-type:none;
            }
        }
        .grabs{}
    }
}
////////////////////////////////
// stylesheet for place cards //
////////////////////////////////
// @media print{
//     @page {
//         size: 21cm 28cm;
//         margin: 0.5cm;
//     }
//     //:root{-webkit-print-color-adjust:exact}
//     body{overflow:visible;}
//     * {
//         -webkit-print-color-adjust:exact;
//         color: inherit;
//         float: none  !important;
//         color: white !important;
//     }
//     .navbar, .problem-btn, #searchBar, .value-tweet-container  {
//         display: none;
//     }
//     .flex-container{
//         display: block;
//         &> div:nth-child(6n){page-break-after: always;}
//         // &> div:nth-child(7){page-break-before:always;}
//     }
//     .demo{
//         height:7cm;
//         width: 7cm;
//         margin: 0.1cm;
//         display: inline-block;
//         page-break-inside: avoid;
//     }
//     .details h1 {
//         font-size: 0.8cm;
//     }
//     .info-box{
//         //border: 0.05cm dashed silver;
//         background-size: cover !important;
//     }
// }

/////////////////////////////////
// stylesheet for printed list //
/////////////////////////////////
@media print{
    //all people page
    @page {
        size: A3 landscape;
        margin: 18mm 00mm 18mm 00mm;
    }
    //:root{-webkit-print-color-adjust:exact}
    body{overflow:visible;}
    * {
        -webkit-print-color-adjust:exact;
        color: inherit;
        //float: none  !important;
        //color: black !important;
    }

    .flashes, .flash, .flash-fail, .flash-success,
    .navbar, .problem-btn, #searchBar, .value-tweet-container, .page-header  {
        display: none;
    }
    .flex-container{
        display: block;
    }
    .photos{
        width:152mm !important;
        padding: 0 !important;
        img{
            height:84mm !important;
        }
        img:nth-child(2) {
          width: 100%;
          margin-bottom: 6mm !important;
          height: 150mm !important;
        }
    }
    .project-sheet {
      //border: 1px dashed orange;
      width: 363mm;
      height: 261mm;
    }
    .text {
      float: none !important;
      position: absolute;
      //border: 1px dashed red;
      width: 135mm !important;
      left: 230mm;
      font-size: 2.5mm;
      h1{font-size: 4.5mm;}
      h2{font-size: 3.5mm;}
      h3{font-size: 3.0mm;}
    }
    .bites {
      float: none !important;
      position: absolute;
      //border: 1px dashed blue;
      width: 55mm !important;
      left: 80mm;
    }
    .demo{
        height:1cm;
        width: 100%;
        margin: 0.1cm;
        display: block;
        page-break-inside: avoid;
    }
    .name-container {
        left: 1cm;
        h1 {
            font-size: 0.4cm;
            .primary  {font-weight: bold;}
            .secondary{}
            .number   {
                font-weight: bold;
                float: left;
                margin-right: 1em;
            }
        }
    }
    .info-box{
        background-size:   contain   !important;
        background-repeat: no-repeat !important;
        background-position: 0 0;
    }

    //person page
    div[class^='col-'] {
        width: 100%;
        padding: 0;
    }
    .alert{
        border: 0.5mm solid grey;
    }
    // .col-md-6 {
    //     width: 100%;
    // }
    // .col-sm-3 {
    //     width: 23%;
    // }
    .tab-content{
        div{
            display: block;
            clear: both;
        }
        &> .tab-pane {
            display: block;
        }
    }
    .explantory-text {
        color: black;
        font-size: 4mm;
        display: block;
    }
    .row{
        page-break-inside: avoid;
        margin: 0;
    }
    label.col-sm-3 {width: inherit;}
    .form-group{margin:0;}
    .alert{padding:0; margin: 0;}
    //editable specific
    .editable-lable, .editable-text {
        line-height: initial;
        padding-top: 0;
        padding-bottom: 0;
    }
    editable {
        width: inherit;
        height: inherit;
        display: block;
    }

    .photo-row {
        &> .col-sm-3{
            width:32%;
            display: inline-block;
            clear: none;
            .caption{display: none;}
        }
        div:nth-child(2) {
            width: 100%;
        }
    }

    .conditions-list > div {
        width: 20%;
        display: inline-block;
        clear: none;
    }

    // div[tooltip-html-unsafe]:after {
    //     //temporary way to show the tool tips
    //     content: attr(tooltip-html-unsafe);
    //     font-size: xx-small;
    // }
    .carousel-col,    .input-group,    input,    .nav-tabs,    .btn, button,    .caption {
        display: none !important;
    }

}


/// new project page ///
.new-project-page{
    font-size: 120%;
    width: 70%;
    border: 2px black solid;
    border-radius: 2em;
    padding: 2em;
    margin: auto;
    margin-top: 5em;

    label {
      display: inline-block;
      width: 10em;
    }
    input {
        width: 60%;
        padding-right: 0.5em;
    }
    button{
        float: right;
        margin-right: 4em;
        margin-bottom: 1em;
    }
    div{
        margin-bottom: 1em;
    }
    .secret-message {
      position: absolute;
      left: 2em;
      bottom: 71px;
      font-size: small;
      border: 1px dashed;
      border-radius: 1em;
      padding: 0.5em;
    }
}
.shuffle-btn {
  position: absolute;
  right: -0.5em;
  top: 20%;
  background-color: rgba(188, 232, 241, 0.39);
  border-radius: 10px;
  padding: 10px 5px;
  display: block;
  border: 2px solid rgba(0, 210, 252, 0.39);
  padding-top: 0px;
}

.hours {
  font-size: 70%;
}

.hours:before {
  content: "(";
}

.hours:after {
  content: " hours)";
}
