<p id="notice"><%= notice %></p>

<p>
  <strong>Dirty size:</strong>
  <%= @dimension_group.dirty_size %>
</p>

<%= link_to 'Edit', edit_dimension_group_path(@dimension_group) %> |
<%= link_to 'Back', dimension_groups_path %>
