<section ng-show="isCurrentUser(person) || person.applicant">
  <h3>Applicant</h3>
  <p class="explantory-text">This is the information we captured about you as you applied for a job here.</p>
  <editable-group object="person"
                  lens="applicant.applications"
                  subgroup-class="alert alert-warning col-xs-12 col-sm-4 col-md-3">
    <editable property="date"                 label="Date"                 type="date"             >Date of application</editable>
    <editable property="covering_letter"      label="Covering letter"      type="url"              >Scan or attachment of the origonal covering letter.</editable>
    <editable property="portfolio"            label="Portfolio"            type="url"              >Attatch the PDF portfolio they submitted.</editable>
    <editable property="assessment"           label="Assessment"           type="textarea"         >Once this person has been reviwed the reviwer should make comments here for future reference.</editable>
    <editable property="future_consideration" label="Future consideration" editable-typeahead="true">If <em>True</em> this person will show up in keyword searches. If false they will be stored just for record.</editable>
    <editable property="skills_and_keywords"  label="Skills_and keywords"                          >This is a comma separated list of skills and keywords that will be useful for finding this person in future. E.g. <em>Health, revit, articulate</em>.</editable>
  </editable-group>
</section>
