<section ng-show="isCurrentUser(person) || person.employee.biography">
  <h3>Biography</h3>
  <p class="explantory-text">These text fields will be used to write your biographies for various CVs.</p>
  <editable-group object="person"
                  lens="employee.biography"
                  subgroup-class="alert alert-info col-xs-12 col-sm-12 col-md-12">
    <editable property="one_line_bio"    label="one line bio"    type="textarea">This is a one sentence biography of yourself.</editable>
    <editable property="approach"        label="approach"        type="textarea">What is your approach to Architecture, to solving problems, to life in general?</editable>
    <editable property="expertise"       label="expertise"       type="textarea">What areas do you have specific expertise in?</editable>
    <editable property="experience"      label="experience"      type="textarea">What are the key experiences that people should know about? What projects or events have shaped your career?</editable>
    <editable property="achievements"    label="achievements"    type="textarea">What achievements have you made that have shaped your career?</editable>
    <editable property="value_statement" label="value statement" type="textarea">Architects are great at explaining to other architects why they are great - less good at explaining to clients. If you had to sum up what value you could bring to a project, what woudl you say?</editable>
  </editable-group>
</section>
