<div class="row">
  <div class="col-md-6">
    <section ng-show="isCurrentUser(person) || person.employee.contact">
      <div class="row">
        <h3>contact (office)</h3>
        <p class="explantory-text">Explanatory text goes in here</p>
        <editable-group object="person"
                        lens="employee.contact"
                        subgroup-class="alert alert-info col-sm-6">
          <editable  property="extension" label="extension"  type="number">This is your desk phone extension.</editable>
          <editable  property="studio"    label="studio"                  >This is the studio that you work in.</editable>
          <editable  property="work_email" label="work email" type="email" >This is your ~~~@bvn.com.au email address.</editable>
        </editable-group>

        <div class="col-md-6">
          <h4>Mobile</h4>
          <editable-group object="person"
                          lens="employee.contact.mobile"
                          subgroup-class="alert alert-info col-sm-6">
            <editable property="number"     label="number"    type="number">This is your mobile number.</editable>
            <editable property="is_work"    label="is work"                >This is <em>True</em> if BVNDH provides your mobile.</editable>
            <editable property="distribute" label="distribute"             >This is <em>True</em> if it is OK for people give your mobile number out to people.</editable>
          </editable-group>
        </div>

      </div>
    </section>
  </div>

  <div class="col-md-6">
    <section ng-show="isCurrentUser(person) || false && person.contact">
      <div class="row">
        <h3>contact (personal)</h3>
        <div class="col-md-6">
          <h4>anti-social</h4>
          <editable-group object="person"
                          lens="contact"
                          subgroup-class="alert alert-info col-sm-6">
            <editable lens="contact.personal_email" label="personal email" type="email">This is</editable>
            <editable lens="contact.personal_phone" label="personal phone" type="tel">This is</editable>
          </editable-group>
        </div>
        <div class="col-md-6">
          <h4>social</h4>
          <editable-group object="person"
                          lens="contact.social"
                          subgroup-class="alert alert-info col-sm-6">
            <editable property="twitter"     label="twitter"    >This is your Twitter name. Leave the @ off.</editable>
            <editable property="instagram"   label="instagram"  >This is your Instagram name. Leave the @ off.</editable>
            <editable property="github"      label="github"     >This is your github name.</editable>
            <editable property="pinterest"   label="pinterest"  >This is your pintrest name.</editable>
            <editable property="google_plus" label="google plus">This is your Google+ name. If you have a vanity name then it'll looke like <code>+yourname</code> otherwise it'll just be a long number.</editable>
            <editable property="linkedin"    label="linkedin"   >This is your linkedin link. There isn't an obvious way to get this other than to go to your page and copy the link in the URL bar whiel you are there.</editable>
            <editable property="facebook"    label="facebook"   >This is your Facebook name. If you have a vanity name then it'll looke like <code>yourname</code> otherwise it'll just be a long number.</editable>
            <editable property="tumblr"      label="tumblr"     >This is the link to your tumblr. e.g. <a href="http://i-justreally-like-cats-okay.tumblr.com/">http://i-justreally-like-cats-okay.tumblr.com</a></editable>
            <!--This will need a bit of tweaking once we know what's going on.-->
          </editable-group>
          <!--Social widgets went in here-->
        </div>
      </div>
    </section>
 </div>
</div>

<section ng-show="isCurrentUser(person) || false && person.contact">
  <h3>Contact (personal)</h3>
  <h4>anti-social</h4>
  <editable-group object="person"
                  lens="contact"
                  subgroup-class="alert alert-info col-sm-6 col-md-4">
    <editable property="personal_email" label="personal email" type="email">This is</editable>
    <editable property="personal_phone" label="personal phone" type="tel"  >This is</editable>
  </editable-group>


  <h4>social</h4>
  <editable-group object="person"
                  lens="contact.social"
                  subgroup-class="alert alert-info col-sm-6 col-md-4">
    <editable property="twitter"     label="twitter"    >This is your Twitter name. Leave the @ off.</editable>
    <editable property="instagram"   label="instagram"  >This is your Instagram name. Leave the @ off.</editable>
    <editable property="github"      label="github"     >This is your github name.</editable>
    <editable property="pinterest"   label="pinterest"  >This is your pintrest name.</editable>
    <editable property="google_plus" label="google plus">This is your Google+ name. If you have a vanity name then it'll looke like <code>+yourname</code> otherwise it'll just be a long number.</editable>
    <editable property="linkedin"    label="linkedin"   >This is your linkedin link. There isn't an obvious way to get this other than to go to your page and copy the link in the URL bar whiel you are there.</editable>
    <editable property="facebook"    label="facebook"   >This is your Facebook name. If you have a vanity name then it'll looke like <code>yourname</code> otherwise it'll just be a long number.</editable>
    <editable property="tumblr"      label="tumblr"     >This is the link to your tumblr. e.g. <a href="http://i-justreally-like-cats-okay.tumblr.com/">http://i-justreally-like-cats-okay.tumblr.com</a></editable>
    <!--This will need a bit of tweaking once we know what's going on.-->
  </editable-group>
      <!--Social widgets went in here-->
</section>