<div class="row"><!--outer row-->

  <div class="col-md-6">
    <div class="row">
      <h3>Office culture</h3>
      <div class="col-md-4">
        <p class="explantory-text">Explanatory text goes in here</p>
      </div>
      <div class="col-md-8">
        <editable-group object="person"
                  lens="employee.office_culture"
                  subgroup-class="">
          <editable property="first_aider"  label="first aider" >If you are <em>currently</em> a first aider then this should say True, otherwise it should say False.</editable>
          <editable property="fire_warden"  label="fire warden" >If you <em>are</em>a fire warden then this should say True, otherwise it should say False.</editable>
          <editable property="requirements" label="requirements">This is a comma separated list of things that you <em>can't</em> eat (for fear of feeling ill, messing up your morals or dying). For example: <em>eggs, gluten, shellfish</em>.</editable>
          <editable property="likes"        label="likes"       >This is a comma separated list of things that you <em>really like</em> eating. For example: <em>bacon, pizza, pinaple</em>.</editable>
          <editable property="dislikes"     label="dislikes"    >This is a comma separated list of things that you <em>really don't like</em> eating. For example: <em>devon, olives, bread.</em>.</editable>
        </editable-group>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <h3>Event Participation</h3>
      <div class="col-md-4">
        <p class="explantory-text">Explanatory text goes in here</p>
      </div>
      <div class="col-md-8">
        <div ng-repeat="ep in person.employee.office_culture.event_participations" class="col-md-12">
          <editable-group object="person"
                          lens="employee.office_culture.event_participations[{{ep|id}}]"
                          subgroup-class="alert alert-info">
            <editable property="name" label="name"            >This is the name of the thing that you did.</editable>
            <editable property="date" label="date" type="date">This is the date that you did it.</editable>
            <editable property="url"  label="url"  type="url" >This is a link to some kind of explanation of the event. It could be the event's website, or it might be to some report that you've published about it.</editable>
            <p><a href="{{ subobject.url }}"><span class="glyphicon glyphicon-link"></span>Go to link.</a></p>
          </editable-group>
        </div>
      </div>
    </div>
  </div>

</div><!--end outer row-->