<section>
<h1>{{ person.name.preferred_first }} {{ person.name.preferred_last }}</h1>
<h2>{{person.employee.position}}</h2>
<h3 class="qualifications">Qualifications</h3>
<p class="qualifications"
   ng-repeat="qual in person.employee.qualifications">{{qual.name}}</p>

<h3 class="memberships">Membership<h3>
<p class="memberships"
   ng-repeat="membership in person.employee.memberships">{{membership.name}}</p>

<h3 ng-if="person.employee.registration" class="memberships">Registration</h3>
<p  ng-if="person.employee.registration">Registered Architect<span class="memberships"
   ng-repeat="reg in person.employee.registrations">{{reg.organisation}} {{reg.state}} </span></p>

<img ng-src="{{ person.employee.photo.bw }}">

<p class="one-line-grab">{{person.employee.biography.one_line_bio}}</p>

<p class="body-bio">{{person.employee.biography.approach}}</p>

<h3 class="experience">Project experience</h3>
<div class="shitty">
<br>2014-
<br>AMP Quay Quarter Stage 1 DA for redevelopment of
<br>2 CBD blocks, Sydney NSW $1.2B
<br>Campus Masterplan &amp; Stage 1 Building, Charles Sturt
<br>University, Port Macquarie NSW $30M
<br>Macquarie Bank 50 Martin Place, Sydney NSW
<br>Northern Beaches Hospital PPP Bid, Sydney NSW $500M
<br>Ascham School Science Centre &amp; Boarding House,
<br>Edgecliff NSW $20M
<br>Bendigo Hospital PPP Bid, BAFO Stage, VIC $650M
<br>UTS Thomas Street Science Building, Delivery Phase, Sydney NSW $110M
<br>2013
<br>Campus Masterplan, Charles Sturt University, Port
<br>Macquarie NSW $30M
<br>Christchurch Health Precinct Masterplan, NZ (120,000m2 GFA development, 60,000m2 site)
<br>University of Adelaide Urban Design Framework, SA
<br>Bendigo Hospital PPP Bid, BAFO Stage, VIC $650M
<br>UTS Thomas Street Science Building Design Phases, Sydney NSW $90M
<br>2012
<br>Royal North Shore Hospital Redevelopment, Sydney NSW $1B
<br>National Life Sciences Hub, Research and Education
<br>Building, Charles Sturt University, Wagga NSW $45M
<br>The Braggs (Institute for Photonics and Advanced Sensing) University of Adelaide, Adelaide SA $95M
<br>Campbelltown Hospital 120 bed Mental Health Service
<br>Building PDP, Sydney $110M
<br>Sydney Children’s Hospital Child and Adolescent Mental
<br>Health Service (CAMHS) Building, Randwick NSW $25M
<br>Prince of Wales Mental Health Intensive Care Building, Randwick NSW $12M
<br>Sunshine Coast University Hospital PPP Bid, QLD $2B
<br>Tree Kangaroo and Pademelon Exhibit Taronga Zoo, Sydney NSW
<br>Student Accommodation for Orange and Wagga Campuses, Charles Sturt University, NSW $25M
<br>2011
<br>HMAS Creswell Cerberus and Geelong Houses:
<br>Recreation, Training and Education Buildings, Jervis
<br>Bay NSW
<br>HMAS Creswell Survival at Sea Facility, The Waterfront,
<br>Jervis Bay NSW
<br>HMAS Creswell Physical Fitness Centre, Jervis Bay NSW
<br>Air Warfare Destroyer and Landing Helicopter Deck
<br>Home Port Infrastructure Requirements (Randwick
<br>Training Centre), Sydney NSW $130M (completion 2018)
<br>Taronga Zoo Upper and Lower Entry Precincts, Sydney NSW
<br>2010
<br>Cranbrook School Masterplan, Sydney NSW
<br>Charles Sturt University Wagga Wagga Campus Masterplan, NSW
<br>HMAS Creswell Griffiths House (Living In Accommodation), Jervis Bay NSW
<br>Mawson Laboratories First Year Experience, School of
<br>Geology, University of Adelaide, Adelaide SA
<br>Scott Theatre Refurbishment, University of Adelaide, Adelaide SA
<br>BVN Sydney Studio, Sydney NSW
<br>Charles Sturt University Wagga Wagga Campus Science Precinct Plan, NSW
<br>Australian Securities Exchange Client Floor, Sydney
<br>NSW $3M
<br>2009
<br>UTS Broadway Building Competition, Sydney NSW
<br>$200M
<br>Attorney General’s Department Workplace, Canberra
<br>ACT $40M
<br>2008
<br>UTS City Campus 2020 Masterplan, Sydney NSW $850M
<br>Robina Hospital Expansion Masterplan, Gold Coast QLD $290M
<br>‘The Q’ Queanbeyan Performing Arts Centre,
<br>Queanbeyan, NSW $8M
<br>Westmead Town Centre Masterplan, Sydney NSW
<br>2007
<br>HMAS Creswell Redevelopment Masterplan, Jervis Bay NSW $85M
<br>Austrade International Strategic Accommodation Plan
<br>Royal North Shore Hospital Redevelopment PPP Bid, Sydney NSW $900M
<br>Stockland Head Office, Sydney NSW $30M
<br>Deutsche Bank Workplace, Melbourne VIC
<br>Deutsche Bank Workplace, Auckland NZ
<br>2006
<br>International Terminal Expansion, Brisbane QLD $280M
<br>Australian Securities Exchange Strategic Brief and National Acommodation Strategy
<br>Wilkhahn Asia Pacific Showroom and Factory, Sydney NSW $80M
<br>Bluestone Workplace, Sydney $3M
<br>Town Hall House Refurbishment Proposal, Sydney NSW
<br>Sans Souci Retail and Commercial Development, Sydney NSW $30M
<br>2005
<br>Deutsche Bank Workplace, Sydney NSW $36M
<br>2004
<br>L5 Building University of NSW, Sydney NSW $36M
<br>Baker &amp; McKenzie Workplace, Sydney NSW
<br>Munich Reinsurance Building Upgrade and Workplace, Sydney NSW
<br>2003
<br>Westpac Sydney CBD Property Strategy and Portfolio, Sydney NSW
<br>Credit Union Services Corporation Fitout, Sydney NSW
<br>2001
<br>The King’s School Centre for Learning and Leadership, Sydney NSW $5M
<br>Wealth Management (NAB+MLC) Workplace, Sydney NSW $3M
<br>Commonwealth Bank CBD Property Strategy, Sydney NSW
<br>2000
<br>Clemenger BBDO Workplace, Sydney NSW $3M
<br>1999
<br>UNSW Science Square and Dalton Cafe, Sydney NSW
<br>1998
<br>UNSW Sir Robert Webster Building, Sydney NSW $12M
<br>Munich Reinsurance Workplace, Melbourne VIC
<br><h3 class="awards">Awards</h3>
THE BRAGGS (INSTITUTE OF PHOTONICS &amp; ADVANCED SENSING), UNIVERSITY OFADELAIDE (in association with Hames Sharley Adelaide<br>)
<br>2013 RAIA SA Jack McConnell Award for Public Architecture
<br>TARONGA ZOO UPPER ENTRY PRECINCT
<br>2012 RAIA National Award for Urban Design
<br>2012 RAIA NSW Lloyd Rees Award for Outstanding Urban Design
<br>2012 Australian Award for Urban Design, Delivered Outcome - Large Scale Commendation
<br>NATIONAL LIFE SCIENCES HUB, RESEARCH AND EDUCATION BUILDING, CHARLES STURT UNIVERSITY
<br>2013 RAIA NSW Blacket Prize for Regional Architecture
<br>2012 MBA Excellence in Construction
<br>Award for Tertiary Buildings $20M-$50M
<br>HMAS CRESWELL PHYSICAL FITNESS CENTRE
<br>2012 RAIA ACT Public Architecture
<br>HMAS CRESWELL CERBERUS AND GEELONG HOUSES
<br>2012 RAIA ACT Heritage Commendation
<br>HMAS CRESWELL SURVIVAL AT SEA FACILITY, THE WATERFRONT
<br>2012 RAIA ACT Small Project Architecture
<br>HMAS CRESWELL GRIFFITHS HOUSE
<br>2011 RAIA ACT Residential Architecture - Multiple Housing
<br>BVN DONOVAN HILL STUDIO, SYDNEY
<br>2011 RAIA NSW John Verge Interior Architecture Award
<br>2011 IDA NSW State Award
<br>ATTORNEY GENERAL’S DEPARTMENT WORKPLACE, CANBERRA
<br>2010 RAIA ACT W. Hayward Morris Award for Interior Architecture
</div>
</section>