<section>
<h1>{{ person.name.preferred_first }} {{ person.name.preferred_last }}</h1>
<h2>{{person.employee.position}}</h2>
<h3 class="qualifications">Qualifications</h3>
<p class="qualifications"
   ng-repeat="qual in person.employee.qualifications">{{qual.name}}</p>

<h3 class="memberships">Membership</h3>
<p class="memberships"
   ng-repeat="membership in person.employee.memberships">{{membership.organisation}}</p>

<h3 ng-if="person.employee.registrations.length > 0" class="memberships">Registration</h3>
<p  ng-if="person.employee.registrations.length > 0">Registered Architect<span class="memberships"
   ng-repeat="reg in person.employee.registrations">{{reg.organisation}} {{reg.state}} </span></p>

<img ng-src="{{ person.employee.photo.bw }}">

<p class="one-line-grab">{{person.employee.biography.one_line_bio}}</p>

<p class="body-bio">{{person.employee.biography.approach}}</p>

<h3 class="experience">Project experience</h3>
<div ng-repeat="project in getRelatedProjects()">
  <h4>{{project.building.phases[0].project_name}}</h4>
  <ul>
    <li>{{project.building.attribution}}</li>
    <li>${{project.building.legacy.final_budget}}</li>
  </ul>
</div>
<br><h3 class="awards">Awards</h3>
<div ng-repeat="award in getRelatedAwards()">
  <h4>{{award.award}}</h4>
  <p><b>{{award.date}}</b> - {{award.jury}}</p>
</div>
</section>
