<section dissabled-ng-show="person.employee.project_experiences" class="row">
  <h4> Experience at BVN</h4>
  <ul class="personal-project-list">
    <li ng-repeat="project in getRelatedProjects()"><img src="http://goo.gl/6ymmw2"><a href="projects/{{project}}">The project name ({{project}})</a></li>
  </ul>
</section>

<section dissabled-ng-show="person.employee.project_experiences" class="row">
  <h4> Project Experience at Other Firms</h4>
  <div ng-repeat="exp in person.employee.project_experiences | orderBy:'end_date':true" class="col-xs-12 col-sm-6 col-md-4">
    <editable-group object="person"
                    lens="employee.project_experiences[{{exp|id}}]"
                    subgroup-class="alert alert-info">
      <editable property="name"       label="name"       editable-typahead="true">What was the project you worked on called?</editable>
      <editable property="firm"       label="firm"       editable-typahead="true">What was the company you worked for at the time called?</editable>
      <editable property="role"       label="role"       editable-typahead="true">What was your role on the project?</editable>
      <editable property="stage"      label="stage"      editable-typahead="true">What stage or stages did you work on?</editable>
      <editable property="start_date" label="start date" type="date"             >When did you start working on this project?</editable>
      <editable property="end_date"   label="end date"   type="date"             >When did you stop working on this project?</editable>
      <editable property="url"        label="url"        type="url"              >Is there a link to something about this?</editable>
    </editable-group>
  </div>
</section>
