<section class="row"><!-- ng-show="isCurrentUser(person) || person.employee.memberships" -->
  <h3>Memberships</h3>
  <p class="explantory-text">What bodies, clubs or societies are you a member of?</p>

  <div ng-repeat="mem in person.employee.memberships | orderBy:'expiry':true" class="col-xs-12 col-sm-5 col-md-4">
    <editable-group object="person"
                    lens="employee.memberships[{{mem|id}}]"
                    subgroup-class="alert alert-info">
      <editable property="organisation"      label="Organisation"     editable-typeahead="true">Who is this membership with?</editable>
      <editable property="membership_number" label="Membership number"                        >What's your membership number?</editable>
      <editable property="state"             label="State"            editable-typeahead="true">What state does this membership cover?</editable>
      <editable property="country"           label="Country"          editable-typeahead="true">What country is this membership issued in?</editable>
      <editable property="expiry"            label="Expiry"                                   >When does this membership expire? Memberships can lapse so we need both ends of the time period to put it on the timeline.</editable>
    </editable-group>
  </div>

</section>