<div class="row">
  <h3>Photos</h3>
 <div class="col-sm-3">
   <p class="explantory-text">We need photos of you all the time! Classy B&W photos for submissions, classy colour photos of you for other submissions, and fun photos for people's leaving books and that kind of thing.</p>
 </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img class=""
           ng-src="{{ person.employee.photo.bw }}"
           itemprop="image"
           title="This photo is used in submissions and on the public facing website."
           alt="A black and white photo of {{ person.name.preferred_first }} {{ person.name.preferred_last }}"/>
      <div class="caption">
        <h4>Serious B&W Photo</h4>
      </div>
    </div>
  </div>

  <!--
  <div class="col-sm-3">
    <div class="thumbnail">
      <img class=""
           ng-src="{{ person.employee.photo.colour }}"
           itemprop="image"
           title="This photo is used in submissions and on the public facing website."
           alt="A colour photo of {{ person.name.preferred_first }} {{ person.name.preferred_last }}"/>
      <div class="caption">
        <h4>Serious Colour Photo</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="thumbnail">
      <img class=""
           ng-src="{{ person.employee.photo.fun }}"
           itemprop="image"
           title="This photo is used internally and won't be show to the public."
           alt="A fun, colour photo of {{ person.name.preferred_first }} {{ person.name.preferred_last }}"/>
      <div class="caption">
        <h4>Fun Photo</h4>
      </div>
    </div>
  </div>
  -->
</div>
