<div class="row">
  <h3>Photos</h3>
 <div class="col-sm-3">
   <p class="explantory-text">We need photos of you all the time! Classy B&W photos for submissions, classy colour photos of you for other submissions, and fun photos for people's leaving books and that kind of thing.</p>
   <p class="explantory-text">To put in a new photo just get the url of the image and paste it into the field below the current image. We don't host images, so you need to get the url from open asset or from Tropos. You can even get images from outside so if there's a good image on Facebook then you can use that too.</p>
 </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img class=""
           ng-src="{{ person.employee.photo.bw }}"
           itemprop="image"
           title="This photo is used in submissions and on the public facing website."
           alt="A black and white photo of {{ person.name.preferred_first }} {{ person.name.preferred_last }}"/>
      <div class="caption">
        <h4>Serious B&W Photo</h4>
        <editable-group object="person"
                        lens="employee.photo">
          <editable property="bw" 
                    label="B&W photo URL">
            This is classy black and white photo that gets used in submissions.
          </editable>
        </editable-group>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="thumbnail">
      <img class=""
           ng-src="{{ person.employee.photo.colour }}"
           itemprop="image"
           title="This photo is used in submissions and on the public facing website."
           alt="A colour photo of {{ person.name.preferred_first }} {{ person.name.preferred_last }}"/>
      <div class="caption">
        <h4>Serious Colour Photo</h4>
        <editable-group object="person"
                        lens="employee.photo">
          <editable property="colour"
                    label="colour photo URL">
            This is classy colour photo that gets used in submissions.
          </editable>
        </editable-group>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="thumbnail">
      <img class=""
           ng-src="{{ person.employee.photo.fun }}"
           itemprop="image"
           title="This photo is used internally and won't be shown to the public."
           alt="A fun, colour photo of {{ person.name.preferred_first }} {{ person.name.preferred_last }}"/>
      <div class="caption">
        <h4>Fun Photo</h4>
        <editable-group object="person"
                        lens="employee.photo">
          <editable property="fun"
                    label="fun photo URL">
            This is fun photo, because monochrome is so boring!.
          </editable>
        </editable-group>
      </div>
    </div>
  </div>

</div>
