<section class="row"><!-- ng-show="isCurrentUser(person) || person.employee.qualifications" -->
  <h3>Qualifications / education</h3>
  <p class="explantory-text">This sections captures your qualifications. Put in all your qualifications, so if you have a PhD, a degree in Japanese, or a certificate for a short course in Equine nutrition, put it in. Use one box per qualification and add a new box for each additional one.</p>

  <div ng-repeat="qual in person.employee.qualifications | orderBy:'last_year':true" class="col-xs-12 col-sm-5 col-md-4">
    <editable-group object="person"
                    lens="employee.qualifications[{{qual|id}}]"
                    subgroup-class="alert alert-info">
      <editable property="name"        label="Name"        editable-typeahead="true" >What is the name of your qualification?</editable>
      <editable property="level"       label="Level"       editable-typeahead="true" >What What level is it at? This is a restricted list so that we can make comparisons across different systems.</editable>
      <editable property="institution" label="Institution" editable-typeahead="true" >What organisation issued your qualification?</editable>
      <editable property="first_year"  label="First year"  type="year"               >When did your course start? We just need a year here.</editable>
      <editable property="last_year"   label="Last year"   type="year"               >When did/does it end? We just need a year here.</editable>
    </editable-group>
  </div>

</section>