<section class="row"><!--  ng-show="isCurrentUser(person) || person.employee.registrations" --><!-- TODO I don't think that's needed here -->
  <h3>Registrations</h3>
  <p class="explantory-text">Are you a registered architect? A registered aromatherapist? Where and when are you registered?</p>

  <div ng-repeat="reg in person.employee.registrations | orderBy:'first_issue_date':true" class="col-xs-12 col-sm-6 col-md-4">
    <editable-group object="person"
                    lens="employee.registrations[{{reg|id}}]"
                    subgroup-class="alert alert-info">
        <editable property="organisation"        label="Organisation"        editable-typahead="true">Who is this registration with? NSW board of architects? RIBA?</editable>
        <editable property="registration_number" label="Registration number"                         >What's your registration number?</editable>
        <editable property="state"               label="State"               editable-typahead="true">What state does this registration cover?</editable>
        <editable property="country"             label="Country"             editable-typahead="true">What country is this registration issued in?</editable>
        <editable property="expiry"              label="Expiry"              type="date"             >When does this registration expire?</editable>
        <editable property="first_granted"       label="First granted"       type="date"             >When was this registration first granted?</editable>
        <editable property="first_issue_date"    label="First issue date"    type="date"             >When was this this registration first issued?</editable>
      </editable-group>
    </div>

</section>
