<article ng-show="isCurrentUser(person) || person">
  <div class="page-header">
    <h1>{{ person.name.preferred_first }} {{ person.name.preferred_last }} <small>{{person.employee.position}} - {{person.employee.contact.extension}}</small></h1>
  </div>

  <tabset>

    <tab heading="Name">
      include "name_.html"
      include "conditions_.html"
      include "photos_.html"
    </tab>

    <!--
    <tab heading="Culture">
      xnclude "culture_.html"
    </tab>
    -->

    <tab heading="Contact">
      include "contact_.html"
    </tab>


    <!--
    <tab heading="Reg">
      xnclude "reg_.html"
    </tab>
    -->

    <!--
    <tab ng-if="isCurrentUser()" heading="Travel">
      xnclude "travel_.html"
    </tab>

    <tab heading="Experience">
      xnclude "experience_.html"
    </tab>
    -->

    <tab heading="Bio">
      include "bio_.html"
    </tab>

    <!--
    <tab heading="Press">
      xnclude "press_.html"
    </tab>

    <tab ng-if="isCurentUser()" heading="Applicant">
      xnclude "applicant_.html"
    </tab>
    -->

    
    <!-- <tab heading="Skills" ng-show="isCurrentUser(person)">
      include "skill_.html"
    </tab> -->
    

  </tabset>

</article>
