<article ng-show="isCurrentUser(person) || person">
    <div class="page-header">
        <h1>{{ person.name.preferred_first }} {{ person.name.preferred_last }}
            <small>{{person.employee.position}} - {{person.employee.contact.extension}}</small>
        </h1>
    </div>
    <tabset>
        <tab heading="Summary">
            <div class="row">
                <div class="col-sm-6">
                    include "biz-card_.html"
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            include "carousel_.html"
                        </div>
                        <div class="col-sm-12"> <!-- ng-if="person.contact.social.twitter" -->
                            <a class="twitter-timeline"
                               href="https://twitter.com/{{person.contact.social.twitter}}"
                               data-widget-id="385978847612530688"
                               data-screen-name="{{person.contact.social.twitter}}"
                               data-show-replies="true"
                              >Tweets by @{{person.contact.social.twitter}}</a>
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
        </tab>

        <tab heading="Name">
            include "name_.html"
        </tab>

        <tab heading="Conditions">
            include "conditions_.html"
        </tab>

        <tab heading="Photos">
            include "photos_.html"
        </tab>

        <tab heading="Contact">
            include "contact_.html"
            include "social_out_.html"
        </tab>

        <tab heading="Reg">
            include "qualifications_.html"
            include "reg_.html"
            include "memberships_.html"
            include "security_clearances_.html"
            include "personal_awards_.html"
            include "professional_contributions_.html"
        </tab>

        <tab ng-if="isCurrentUser()" heading="Travel">
            include "travel_.html"
        </tab>

        <tab heading="Experience">
            include "experience_.html"
        </tab>

        <tab heading="Bio">
            include "bio_.html"
        </tab>

        <tab heading="Culture">
            <div class="row">
                include "officeculture_.html"
                include "events_.html"
            </div>
        </tab>

        <tab heading="Press">
            include "press_.html"
        </tab>

        <tab ng-if="isCurentUser()" heading="Applicant">
            include "applicant_.html"
        </tab>

        <tab ng-if="isCurentUser()" heading="Skills">
            include "skill_.html"
        </tab>
    </tabset>
</article>
