<!-- skills -->
<section ng-show="isCurrentUser(person) || person.employee.skillsUpdateLink">
  <h3>Skills Survey</h3>
  <p class="explantory-text">This link will take you to your skills survey where you can update your scores.</p>
  <editable-group object="person"
                  lens="employee"
                  subgroup-class="alert alert-info
                  				  col-xs-12 col-sm-12 col-md-12">
    <editable property="skillsUpdateLink"    label="Skills Update Link">
    	Put your skills update link here.</editable>
    	<p><a href="{{ subobject.skillsUpdateLink }}"><span class="glyphicon glyphicon-link"></span>Go to link.</a></p>
  </editable-group>
</section>