<%= form_for(@building_press) do |f| %>
  <% if @building_press.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_press.errors.count, "error") %> prohibited this building_press from being saved:</h2>

      <ul>
      <% @building_press.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
