<h1>Listing building_presses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @building_presses.each do |building_press| %>
      <tr>
        <td><%= link_to 'Show', building_press %></td>
        <td><%= link_to 'Edit', edit_building_press_path(building_press) %></td>
        <td><%= link_to 'Destroy', building_press, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building press', new_building_press_path %>
