<div class="row">
  <div class="col-xs-11">
    <input type="text"
           id="searchBar"
           ng-model="searchQuery"
           class="filter-box"
           placeholder="type to search...">
  </div>
</div>

<div class="row flex-container" infinite-scroll="loadMoreResults()">
  <!--start a project/person box as a directive-->
  <display-box ng-repeat="p in searchResults | limitTo:60 track by $id(p)"
              title-text-one="{{ p.building.phases[0].project_name || p.project_number + ' (no project name)'}}"
              body-text="{{p.project_number}}"
              img-src="{{p.img || getKittenImage($index) }}"
              redirect-link="#/projects/{{ p.id.$oid }}">
    <p>{{ p.project_categories }}</p>
  </display-box>

</div>
<div>
  <a class="center-block btn" ng-if="showMore()" ng-click="showAll()">Show all</a>
</div>
