<div class="row">
  <div class="col-xs-11">
    <input type="text" 
           ng-model="searchQuery" 
           class="filter-box"
           placeholder="type to search...">
  </div>
</div>

<div class="row" infinite-scroll="loadMoreResults()">
  <!--start a project/person box as a directive-->
  <display-box ng-repeat="p in searchResults"
              title-text="{{ p.project_name || p.project_number }}"
              body-text="Some body text"
              img-src="{{p.img || getKittenImage($index) }}"
              more-link="{{ getMoreLink( p.id['$oid'] ) }}">
    <p>{{ p.project_categories }}</p>
  </display-box>
  
</div>
