<form ng-if="!submitting" class="new-project-page">
  <div>Hi there! You must know about this secret page because you are important. Don't abuse this power; be careful when you make a new project becasue it's a real pain to delete projects*.</div>
  <div>
    <label for="number">Project Number</label>
    <input name="number" ng-model="project.number">
    <span ng-if="existingProjectNumber">✗ ({{ existingProjectNumber.project_name}})</span>
    <span ng-if="!existingProjectNumber && project.number.length > 3">✓</span>
  </div>

  <div>
    <label for="number">Project Name</label>
    <input name="name" ng-model="project.name">
    <span ng-if="project.name.length > 0 && project.name.length < 5">✗</span>
    <span ng-if="project.name.length >= 5">✓</span>
  </div>

  <div>
    <label for="number">Project Contact Login</label>
    <input name="login" ng-model="project.login">
    <span ng-if="existingPersonLogin">✓ ({{ existingPersonLogin.name }})</span>
    <span ng-if="!existingPersonLogin && project.login.length > 3">✗</span>
  </div>

  <button ng-disabled="!validEntry()" ng-click="submit()">Create Project</button>
</form>
<p ng-if="submitting">Submitting new project...</p>
<p class="secret-message">Deleting projects requires us to kill kittens.</p>