<article ng-show="project">
  <h2>{{ project.project_number }}</h2>
  <div ng-show="project.building">
    <h1>{{ project.building.address.building_name }}</h1>
    <editable-group object="project"
                    lens="building"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="description" label="Description" type="textarea">This is an internal, easy to understand summary of the project.</editable>
      <editable property="attribution" label="Attribution">This is an internal, easy to understand summary of the project.</editable>
      <editable property="BCA_classification" label="BCA Classification">The BCA classification of this project</editable>
      <editable property="project_catagories" label="Project Catagories">A comma separated list of the catagories that this project is in</editable>
      <editable property="project_sub-catagories" label="Project Sub-catagories">A comma separated list of the catagories that this project is in. [TODO: why does this exist?]</editable>
    </editable-group>

    <h2>Location</h2>
    <editable-group object="project"
                    lens="building.location.geoJSON"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="lat"             label="latitude"       >helpText</editable>
      <editable property="lon"             label="longitude"      >helpText</editable>
      <editable property="boundary_points" label="Boundary Points">helpText</editable>
    </editable-group>

    <editable-group object="project"
                    lens="building.location.adess"
                    subgroupclass="alert alert-info col-sm-6">
       <editable property="building_name" label="building name">helpText</editable>
       <editable property="street_number" label="street number">helpText</editable>
       <editable property="street"        label="street"       >helpText</editable>
       <editable property="suburb_area"   label="suburb area"  >helpText</editable>
       <editable property="state_county"  label="state county" >helpText</editable>
       <editable property="country"       label="country"      >helpText</editable>
       <editable property="postcode"      label="postcode"     >helpText</editable>
    </editable-group>

    <h2>project_source</h2>
    <editable-group object="project"
                    lens="building.project_source"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="competition_win" label="competition_win">helpText</editable>
      <editable property="competition_URL" label="competition_URL">helpText</editable>
    </editable-group>
    <h3>referred_by</h3>
    <editable-group object="project"
                    lens="building.project_source.referred_by"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="BVN_staff_login"      label= "BVN_staff_login"     >helpText</editable>
      <editable property="contact_name"         label= "contact_name"        >helpText</editable>
      <editable property="contact_organisation" label= "contact_organisation">helpText</editable>
    </editable-group>

    <h2>Key Dimensions</h2>
    <h3>Height</h3>
    <editable-group object="project"
                    lens="building.dims.height"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="measurement"      label= "measurement"     >helpText</editable>
      <editable property="standard_name"    label= "standard_name"   >helpText</editable>
      <editable property="standard_version" label= "standard_version">helpText</editable>
    </editable-group>

    <h3>footprint_area</h3>
    <editable-group object="project"
                    lens="building.dims.footprint_area"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="measurement"      label= "measurement"     >helpText</editable>
      <editable property="standard_name"    label= "standard_name"   >helpText</editable>
      <editable property="standard_version" label= "standard_version">helpText</editable>
    </editable-group>

    <h3>GBA</h3>
    <editable-group object="project"
                    lens="building.dims.GBA"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="measurement"      label= "measurement"     >helpText</editable>
      <editable property="standard_name"    label= "standard_name"   >helpText</editable>
      <editable property="standard_version" label= "standard_version">helpText</editable>
    </editable-group>

    <h3>GFA</h3>
    <editable-group object="project"
                    lens="building.dims.GFA"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="measurement"      label= "measurement"     >helpText</editable>
      <editable property="standard_name"    label= "standard_name"   >helpText</editable>
      <editable property="standard_version" label= "standard_version">helpText</editable>
    </editable-group>

    <h3>NLA</h3>
    <editable-group object="project"
                    lens="building.dims.NLA"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="measurement"      label= "measurement"     >helpText</editable>
      <editable property="standard_name"    label= "standard_name"   >helpText</editable>
      <editable property="standard_version" label= "standard_version">helpText</editable>
    </editable-group>

    <h2>client</h2>
    <editable-group object="project"
                    lens="building.client"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="main"     label= "Main"    >helpText</editable>
      <editable property="direct"   label= "Direct"  >helpText</editable>
      <editable property="end_user" label= "End_user">helpText</editable>
    </editable-group>

    <h2>relationships</h2>
    <editable-group object="project"
                    lens="building.relationships"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="client"      label= "client"     >helpText</editable>
      <editable property="stakeholder" label= "stakeholder">helpText</editable>
      <editable property="councils"    label= "councils"   >helpText</editable>
    </editable-group>

    <h2>Phase</h2>
    <editable-group object="project"
                    lens="building.phase"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="project_name"          label= "project_name"         >helpText</editable>
      <editable property="studio"                label= "studio"               >helpText</editable>
      <editable property="client"                label= "client"               >helpText</editable>
      <editable property="services_scope"        label= "services_scope"       >helpText</editable>
      <editable property="delivery_contract"     label= "delivery_contract"    >helpText</editable>
      <editable property="staff_contact_login"   label= "staff_contact_login"  >helpText</editable>
      <editable property="staff_custodian_login" label= "staff_custodian_login">helpText</editable>
    </editable-group>

    <p>this budget object needs to be inside the phase repeater</p>
    <h2>budget</h2>
    <editable-group object="project"
                    lens="building.phase.budget"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="initial_phase_value_total" label= "initial_phase_value_total">helpText</editable>
      <editable property="final_phase_value_total"   label= "final_phase_value_total"  >helpText</editable>
      <editable property="initial_phase_fee_total"   label= "initial_phase_fee_total"  >helpText</editable>
      <editable property="final_phase_fee_total"     label= "final_phase_fee_total"    >helpText</editable>
      <editable property="construction_initial"      label= "construction_initial"     >helpText</editable>
      <editable property="construction_final"        label= "construction_final"       >helpText</editable>
      <editable property="comments"                  label= "comments"                 >helpText</editable>
      <editable property="fee_type"                  label= "fee_type"                 >helpText</editable>
    </editable-group>

    <h2>template</h2>
    <editable-group object="project"
                    lens="building.legacy"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="one_line_grab"             label= "one_line_grab"            >helpText</editable>
      <editable property="description_project_sheet" label= "description_project_sheet">helpText</editable>
      <editable property="description_awards_style"  label= "description_awards_style" >helpText</editable>
      <editable property="innovation_client_style"   label= "innovation_client_style"  >helpText</editable>
      <editable property="interesting_things"        label= "interesting_things"       >helpText</editable>
      <editable property="brief_elements"            label= "brief_elements"           >helpText</editable>
      <editable property="security_level"            label= "security_level"           >helpText</editable>
    </editable-group>

    <h2>initiatives</h2>
    <editable-group object="project"
                    lens="building.legacy.ESD.initiatives"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="title"       label= "title"      >helpText</editable>
      <editable property="reason"      label= "reason"     >helpText</editable>
      <editable property="description" label= "description">helpText</editable>
    </editable-group>

    <h2>certifications</h2>
    <editable-group object="project"
                    lens="building.legacy.ESD.certifications"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="name"          label= "name"         >helpText</editable>
      <editable property="ranking"       label= "ranking"      >helpText</editable>
      <editable property="awarding_body" label= "awarding_body">helpText</editable>
      <editable property="expiry_date"   label= "expiry_date"  >helpText</editable>
    </editable-group>

    <h2>photography</h2>
    <editable-group object="project"
                    lens="building.legacy.photography"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="photographer" label= "photographer">helpText</editable>
      <editable property="date"         label= "date"        >helpText</editable>
    </editable-group>

    <h2>awards</h2>
    <editable-group object="project"
                    lens="building.legacy.awards"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="award" label="award">helpText</editable>
      <editable property="date"  label="date" >helpText</editable>
      <editable property="jury"  label="jury" >helpText</editable>
    </editable-group>


    <h2>testimonials</h2>
    <editable-group object="project"
                    lens="building.legacy.testimonials"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="testimonial" label= "testimonial">helpText</editable>
      <editable property="citation"    label= "citation"   >helpText</editable>
      <editable property="date"        label= "date"       >helpText</editable>
    </editable-group>

    <h2>quotes</h2>
    <editable-group object="project"
                    lens="building.legacy.quotes"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="quote"    label= "quote"   >helpText</editable>
      <editable property="citation" label= "citation">helpText</editable>
      <editable property="date"     label= "date"    >helpText</editable>
    </editable-group>

    <h2>attention</h2>
    <editable-group object="project"
                    lens="building.legacy.attention"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="url"                label="url"               >helpText</editable>
      <editable property="scan_or_screengrab" label="scan_or_screengrab">helpText</editable>
      <editable property="publication"        label="publication"       >helpText</editable>
      <editable property="reason"             label="reason"            >helpText</editable>
    </editable-group>

    <h2>template</h2>
    <editable-group object="project"
                    lens="building.legacy.press.campaign"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="strategy" label= "strategy">helpText</editable>
      <editable property="date"     label= "date"    >helpText</editable>
    </editable-group>

    <h2>press_release</h2>
    <editable-group object="project"
                    lens="building.legacy.press.campaign.press"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="channel_list" label= "channel_list">helpText</editable>
      <editable property="content"      label= "content"     >helpText</editable>
      <editable property="author_login" label= "author_login">helpText</editable>
    </editable-group>

    <h2>template</h2>
    <editable-group object="project"
                    lens="building.QA"
                    subgroupclass="alert alert-info col-sm-6">
      <editable property="notes" label="notes">helpText</editable>
      <p>this section of the model is underdefined</p>
    </editable-group>

  </div>

  <div ng-show="project.non_building">
    <h1>{{ project.non_building.name }}</h1>
    <editable object="project" subobject="q"
                    lens="project.non_building.description" l
                    subgroupclass="alert alert-info col-sm-6">
  </div>

</article>