<article ng-show="project">
  <h2>{{ project.project_number }}</h2>
  <div ng-show="project.building">
    <h1>{{ project.building.address.building_name }}</h1>
    <editable-group object="project" lens="building">
      <editable property="description" label="Description" type="textarea">
        This is an internal, easy to understand summary of the project.
      </editable>
      <editable property="attribution" label="Attribution">
        This is an internal, easy to understand summary of the project.
      </editable>
      <editable property="BCA_classification" label="BCA Classification">
        The BCA classification of this project
      </editable>
      <editable property="project_catagories" label="Project Catagories">
        A comma separated list of the catagories that this project is in
      </editable>
      <editable property="project_sub-catagories" label="Project Sub-catagories">
        A comma separated list of the catagories that this project is in. [TODO: why does this exist?]
      </editable>
    </editable-group>

    <h2>Location</h2>
    <editable-group object="project" lens="building.location.geoJSON">
      <editable property="lat" label="latitude">
          helpText
      </editable>
      <editable property="lon" label="longitude">
          helpText
      </editable>
      <editable property="boundary_points" label="Boundary Points">
          helpText
      </editable>
    </editable-group>

    <editable-group object="project" lens="building.location.address">
      <editable property="building_name" label="building name">
          helpText
      </editable>
      <editable property="street_number" label="street number">
          helpText
      </editable>
      <editable property="street" label="street">
          helpText
      </editable>
      <editable property="suburb_area" label="suburb area">
          helpText
      </editable>
      <editable property="state_county" label="state county">
          helpText
      </editable>
      <editable property="country" label="country">
          helpText
      </editable>
      <editable property="postcode" label="postcode">
          helpText
      </editable>
    </editable-group>

    <h2>template</h2>
    <editable-group object="project" lens="building">
      <editable property="" label="">
        helpText
      </editable>
    </editable-group>

    <h2>project_source</h2>
    <editable-group object="project" lens="building.project_source">
      <editable property="competition_win" label="competition_win">
        helpText
      </editable>
      <editable property="competition_URL" label="competition_URL">
        helpText
      </editable>
    </editable-group>
    <h3>referred_by</h3>
    <editable-group object="project" lens="building.project_source.referred_by">
      <editable property="BVN_staff_login" label="BVN_staff_login">
        helpText
      </editable>
      <editable property="contact_name" label="contact_name">
        helpText
      </editable>
      <editable property="contact_organisation" label="contact_organisation">
        helpText
      </editable>
    </editable-group>

    <h3>Height</h3>
    <editable-group object="project" lens="building.dims.height">
      <editable property="measurement" label="measurement">
        helpText
      </editable>
      <editable property="standard_name" label="standard_name">
        helpText
      </editable>
      <editable property="standard_version" label="standard_version">
        helpText
      </editable>
    </editable-group>

    <h3>footprint_area</h3>
    <editable-group object="project" lens="building.dims.footprint_area">
      <editable property="measurement" label="measurement">
        helpText
      </editable>
      <editable property="standard_name" label="standard_name">
        helpText
      </editable>
      <editable property="standard_version" label="standard_version">
        helpText
      </editable>
    </editable-group>

    <h3>GBA</h3>
    <editable-group object="project" lens="building.dims.GBA">
      <editable property="measurement" label="measurement">
        helpText
      </editable>
      <editable property="standard_name" label="standard_name">
        helpText
      </editable>
      <editable property="standard_version" label="standard_version">
        helpText
      </editable>
    </editable-group>

    <h3>GFA</h3>
    <editable-group object="project" lens="building.dims.GFA">
      <editable property="measurement" label="measurement">
        helpText
      </editable>
      <editable property="standard_name" label="standard_name">
        helpText
      </editable>
      <editable property="standard_version" label="standard_version">
        helpText
      </editable>
    </editable-group>

    <h3>NLA</h3>
    <editable-group object="project" lens="building.dims.NLA">
      <editable property="measurement" label="measurement">
        helpText
      </editable>
      <editable property="standard_name" label="standard_name">
        helpText
      </editable>
      <editable property="standard_version" label="standard_version">
        helpText
      </editable>
    </editable-group>


client:
  fields:
    - name:main
    - name:direct
    - name:end_user
  relation:
    parent: building

relationships:
  fields:
    - name:client
    - name:stakeholder
    - name:councils
  relation:
    parent: building

phase:
  fields:
    - name:project_name
    - name:studio
    - name:client
    - name:services_scope
    - name:delivery_contract
    - name:staff_contact_login
    - name:staff_custodian_login
  relation:
    parent: building  

  fields:
  relation:
    parent: phase  
    fields:
    - name:description
  
  relation:budget:
  fields:
    - name:initial_phase_value_total
    - name:final_phase_value_total
    - name:initial_phase_fee_total
    - name:final_phase_fee_total
    - name:construction_initial
    - name:construction_final
    - name:comments
    - name:fee_type
  relation:
    parent: phase
legacy:
  fields:
    - name:one_line_grab
    - name:description_project_sheet
    - name:description_awards_style
    - name:innovation_client_style
    - name:interesting_things
    - name:brief_elements
    - name:security_level
  relation:
    parent: building
ESD:
  fields:[]
  relation:
    parent: legacy
initiatives:
  fields:
    - name:title
    - name:reason
    - name:description
  relation:
    parent: ESD
certifications:
  fields:
    - name:name
    - name:ranking
    - name:awarding_body
  relation:
    parent: ESD
photography:
  fields:
    -name:photographer
  relation:
    parent: legacy
awards:
  fields:
    -name:award
    - name:jury
  relation:
    parent: legacy
testimonials:
  fields:
    -name:testimonial
    - name:citation
  relation:
    parent: legacy
quotes:
  fields:
    -name:quote
    - name:citation
  relation:
    parent: legacy
press:
  fields: []
  relation:
    parent: building

attention:
  fields:
    - name: url
    - name: scan_or_screengrab
    - name: publication
    - name: reason
  relation:
    parent: press

campaign:
  fields:
    - name:strategy
  relation:
    parent: press

press_release:

    - name:channel_list
    - name:content
    - name:author_login
  relation:
    parent: campaign

QA:
  fields:
    - name:notes
  relation:
    parent: building


  </div>

  <div ng-show="project.non_building">
  <h1>{{ project.non_building.name }}</h1>
    <editable object="project" subobject="q" lens="project.non_building.description" label="description" type="textarea">
      This is an internal, easy to understand summary of the project.
    </editable>
  </div>

</article>