<h2>Awards</h2>
<p class="explantory-text">Has this project won any awards? If it has they should be recorded here!</p>
<p class="data-parent-text">Previously this lived in a spreadsheet managed by Stella, and that data will be migrated across soon.</p>
<div ng-repeat="award in project.building.legacy.awards">
    <editable-group object="project" lens="building.legacy.awards[{{award|id}}]" subgroup-class="alert alert-info col-sm-6">
        <editable property="award" label="award" editable-typahead="true">What is the name of this award?</editable>
        <editable property="date"  label="date"                          >What date was the award awarded?</editable>
        <editable property="jury"  label="jury"                          >Who was on the jury? This should be a comma separated list e.g. Peter Pan, Missy Elliot, Homer simpson, Ginger Rodgers</editable>
    </editable-group>
</div>
