<h2>Awards</h2>
<p class="explantory-text">Explanatory text goes in here</p>
<div ng-repeat="award in project.building.legacy.awards">
    <editable-group object="project" lens="building.legacy.awards[{{award|id}}]" subgroup-class="alert alert-info col-sm-6">
        <editable property="award" label="award">What is the name of this award?</editable>
        <editable property="date"  label="date" >What date was the award awarded?</editable>
        <editable property="jury"  label="jury" >Who was on the jury? This should be a comma separated list e.g. Peter Pan, Missy Elliot, Homer simpson, Ginger Rodgers</editable>
    </editable-group>
</div>
