<h2>ESD Certifications</h2>
<p class="explantory-text">If this project has any ESD certification then log it here. For the moment you should put non-ESD certifications here too until they have a home of their own.</p>
<editable-group object="project" lens="building.legacy.esd.certifications" subgroup-class="alert alert-info col-sm-6">
    <editable property="name"          label="name"          editable-typahead="true">What is the name of this certificate?</editable>
    <editable property="ranking"       label="ranking"       editable-typahead="true">What's the score? 5 star?</editable>
    <editable property="awarding_body" label="awarding body" editable-typahead="true">Who awards this certificate?</editable>
    <editable property="expiry_date"   label="expiry date"   type="date"             >When does this certificate stop being valid?</editable>
</editable-group>
