<h2>Client</h2>
<p class="explantory-text">Who were the clients for this project? This is a pretty nuanced issue, so if there are many clients try to fit them into the field that fits best.</p>
<editable-group object="project" lens="building.client" subgroup-class="alert alert-info col-sm-6">
    <!--TODO @albertocto these are all a bit too subtle for me to write the helptext for-->
    <editable property="main"     label="Main"     editable-typeahead="true">helpText</editable>
    <editable property="direct"   label="Direct"   editable-typeahead="true">helpText</editable>
    <editable property="end_user" label="End user" editable-typeahead="true">helpText</editable>
</editable-group>
