<h2>Referees</h2>
<div ng-repeat="referee in project.building.client.referees">
    <editable-group object="project" lens="building.client.referees[{{referee|id}}]" subgroup-class="alert alert-info col-sm-4">
        <editable property="description" label="Description" editable-typeahead="true">Their position and relationship to the project </editable>
        <editable property="details"     label="Details"        type="textarea"      >Their contact details, e.g. Name, organisation, phone number, email address.</editable>
    </editable-group>
</div>
