<h2>Key Dimensions</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Dirty size</h3>
        <editable-group object="project" lens="building.dims" subgroup-class="alert alert-info col-sm-12">
            <editable property="dirty_size" label="dirty size">This is the size from the project library, if you are the project custodian, or you think you know enough about this project, then you should move this number into the appropriate field.</editable>
        </editable-group>
    </div>

    <div class="col-md-4">
        <h3>Height</h3>
        <editable-group object="project" lens="building.dims.height" subgroup-class="alert alert-info col-sm-12">
            <editable property="measurement" label="measurement" type="number">helpText</editable>
            <editable property="standard_name" label="standard name">helpText</editable>
            <editable property="standard_version" label="standard version">helpText</editable>
        </editable-group>
    </div>

    <div class="col-md-4">
        <h3>Footprint area</h3>
        <editable-group object="project" lens="building.dims.footprint_area" subgroup-class="alert alert-info col-sm-12">
            <editable property="measurement" label="measurement" type="number">helpText</editable>
            <editable property="standard_name" label="standard name">helpText</editable>
            <editable property="standard_version" label="standard version">helpText</editable>
        </editable-group>
    </div>

    <div class="col-md-4">
        <h3>GBA</h3>
        <editable-group object="project" lens="building.dims.gba" subgroup-class="alert alert-info col-sm-12">
            <editable property="measurement" label="measurement" type="number">helpText</editable>
            <editable property="standard_name" label="standard name">helpText</editable>
            <editable property="standard_version" label="standard version">helpText</editable>
        </editable-group>
    </div>

    <div class="col-md-4">
        <h3>GFA</h3>
        <editable-group object="project" lens="building.dims.gfa" subgroup-class="alert alert-info col-sm-12">
            <editable property="measurement" label="measurement" type="number">helpText</editable>
            <editable property="standard_name" label="standard name">helpText</editable>
            <editable property="standard_version" label="standard version">helpText</editable>
        </editable-group>
    </div>

    <div class="col-md-4">
        <h3>NLA</h3>
        <editable-group object="project" lens="building.dims.nla" subgroup-class="alert alert-info col-sm-12">
            <editable property="measurement" label="measurement" type="number">helpText</editable>
            <editable property="standard_name" label="standard name">helpText</editable>
            <editable property="standard_version" label="standard version">helpText</editable>
        </editable-group>
    </div>
</div>
