<h2>Final Budget</h2>
<p class="explantory-text">This is how much we <em>tell</em> people the project cost.</p>
<p class="explantory-text"><strong>This field is depricated. Use the fields below. If you come to this page and there is a value here and not below, move it over. If it's empty here, leave it empty</strong></p>
<editable-group object="project" lens="building.legacy" subgroup-class="alert alert-info">
    <editable property="final_budget"      label="Final Budget" type="number">The official budget, in numbers. E.g. 1000000 not 1M.</editable>
</editable-group>

<div ng-repeat="budget in project.building.legacy.legacy_budgets">
    <editable-group object="project" lens="building.legacy.legacy_budgets[{{budget|id}}]" subgroup-class="alert alert-info col-md-5">
        <editable property="description" label="Description" editable-typeahead="true">This is the title on the project sheet. E.g. <em>Construction Value</em> or just <em>Value</em></editable>
        <editable property="budget"      label="Value"       type="number"            >The official budget, in numbers. E.g. 1000000 not 1M.</editable>
        <editable property="tags"        label="Tags"        type="tags"              >Tags define which project sheet this piece of information goes onto.</editable>
    </editable-group>
</div>