<h2>initiatives</h2>
<div ng-repeat="initiaive in project.building.legacy.initiavies">
    <editable-group object="project" lens="building.legacy.esd.initiatives[{{initiative|id}}]" subgroup-class="alert alert-info col-sm-6">
        <editable property="title"       label="title"      >What was the thing that you did? (Think of this as a title.)</editable>
        <editable property="reason"      label="reason"     >Why did you do it? (Briefly)</editable>
        <editable property="description" label="description">Write a bit more about it here. What was the story?</editable>
    </editable-group>
</div>
