<h2>Location</h2>
<p class="explantory-text">This is a way of finding the address of the project, also where the front door is, and eventually a nice boundary drawing too. This will eventually feed to the public website so that people can find the projects.</p>
<p class="explantory-text">The addresses were preloaded by <a href="http://blogs.bvn.com.au/tropos/2013/09/24/artificial-artificial-intelligence/">Mechanical turks</a>. As people with domain knowledge, your job is to collate their attempts into one canonical address/location box. Once there is a good address for this project we'll remove the others.</p>

<div ng-repeat="location in project.building.locations"
     class="row col-sm-12 alert alert-info">
    <div class="col-md-5">
      <sw-ng-map project="project"
                 location-id="location|id"
                 lat="location.geo_json.lat"
                 lon="location.geo_json.lon"></sw-ng-map>
    </div>
    <div class="col-md-5">
        <editable-group object="project"
                        lens="building.locations[{{location|id}}].address"
                        subgroup-class="col-sm-12">
             <editable property="dirty_location" label="Dirty Location"                        >This is what we have on file. Some of these addresses are pretty good, others are pitiful.</editable>
             <editable property="building_name"  label="Building name" editable-typeahead="true">E.g. Franconia.</editable>
             <editable property="street_number"  label="Street number"                         >E.g. 255.</editable>
             <editable property="street"         label="Street"        editable-typeahead="true">E.g. Pitt St.</editable>
             <editable property="suburb_area"    label="Suburb area"   editable-typeahead="true">E.g. Darlinghurst.</editable>
             <editable property="state_county"   label="State county"  editable-typeahead="true">E.g. NSW or Vic or Qld.</editable>
             <editable property="country"        label="Country"       editable-typeahead="true">E.g. Australia or Thailand.</editable>
             <editable property="postcode"       label="Postcode"      editable-typeahead="true">E.g. 2000 or CT18 8EG.</editable>
        </editable-group>
    </div>
    <editable-group object="project" lens="building.locations[{{location|id}}]" subgroup-class="">
    </editable-group>
</div>