<h2>Photography</h2>
<p class="explantory-text">When a project gets photographed we record it here. This gives an overview of who and when.</p>
<editable-group object="project" lens="building.legacy.photography" subgroup-class="alert alert-info col-sm-6">
    <editable property="photographer" label="photographer" editable-typahead="true">Who was the photographer?</editable>
    <editable property="date"         label="date"                                 >When did they take the pictures?</editable>
</editable-group>
<!-- should this really be coming out of open asset? or be corelated with some of that data?-->
