<h2>Press</h2>
<div ng-repeat="press in project.building.presses">
    <h3>Attention</h3>
    <p class="explantory-text">When a project is in the news, record it here. This could be anything from a tweet to a tv programme. Record bad press as well as good.</p>
    <editable-group object="project" ng-repeat="attention in press.attentions" lens="building.presses[{{press|id}}].attentions[{{attention|id}}]" subgroup-class="alert alert-info col-sm-6">
        <editable property="url"                label="url"                                       >Is there a place that we can link to that we can read this bit of press?</editable>
        <editable property="scan_or_screengrab" label="scan or screengrab"                        >Press is transient, attatch an image of the page.</editable>
        <editable property="publication"        label="publication"       editable-typahead="true">Where was this attention published?</editable>
        <editable property="reason"             label="reason"            editable-typahead="true">Why did this project get this attention? Was it a huge success? Did it fall down? Was there a murder mystery filmed there?</editable>
    </editable-group>

    <h3>Campaigns</h3>
    <p class="explantory-text">If we have a coordiated effort to get this project into the press, describe the effort here.</p>
    <editable-group object="project" ng-repeat="campaign in press.campaigns" lens="building.presses[{{press|id}}].campaigns[{{campaign|id}}]" subgroup-class="alert alert-info col-sm-6">
        <editable property="strategy" label="strategy" type="textarea">Describe the campain</editable>
    </editable-group>
</div>
