<h2>Press</h2>
    <h3>Attention</h3>
    <p class="explantory-text">When a project is in the news, record it here. This could be anything from a tweet to a tv programme. Record bad press as well as good.</p>
    <div ng-repeat="attention in project.building.press.attentions">
      <editable-group object="project" lens="building.press.attentions[{{attention|id}}]" subgroup-class="alert alert-info col-sm-6">
          <editable property="url"                label="Url"                                       >Is there a place that we can link to that we can read this bit of press?</editable>
          <editable property="scan_or_screengrab" label="Scan or screengrab"                        >Press is transient, attatch an image of the page.</editable>
          <editable property="publication"        label="Publication"       editable-typeahead="true">Where was this attention published?</editable>
          <editable property="reason"             label="Reason"            editable-typeahead="true">Why did this project get this attention? Was it a huge success? Did it fall down? Was there a murder mystery filmed there?</editable>
      </editable-group>
    </div>

    <h3>Campaigns</h3>
    <p class="explantory-text">If we have a coordiated effort to get this project into the press, describe the effort here.</p>
    <div ng-repeat="campaign in project.building.press.campaigns">
      <editable-group object="project" lens="building.press.campaigns[{{campaign|id}}]" subgroup-class="alert alert-info col-sm-6">
          <editable property="strategy" label="Strategy" type="textarea">Describe the campain.</editable>
      </editable-group>
    </div>

    <h3>Press Releases</h3>
    <div ng-repeat="release in project.building.press.press_releases">
      <editable-group object="project" lens="building.press.press_releases[{{release|id}}]" subgroup-class="alert alert-info col-sm-6">
          <editable property="title" label="Title"                >What is the headline for this release?</editable>
          <editable property="date"  label="Date"  type="date"    >When was this release made?</editable>
          <editable property="body"  label="Body"  type="textarea">What was the body of this release?</editable>
      </editable-group>
    </div>
</div>
