<div class="project-sheet">
    <div class="photos">
        <div class="refreshing-overlay" ng-click="">
            <span class="glyphicon glyphicon-refresh"></span>
        </div>
        <img ng-src="{{getImages()[tag.toLowerCase()][0] || 'http://placehold.it/550&text=First%20'  + tag + '%20Image%20not%20found' }}">
        <img ng-src="{{getImages()[tag.toLowerCase()][1] || 'http://placehold.it/225&text=Second%20' + tag + '%20Image%20not%20found' }}">
        <img ng-src="{{getImages()[tag.toLowerCase()][2] || 'http://placehold.it/225&text=Third%20'  + tag + '%20Image%20not%20found' }}">
    </div>
    <div class="text">
        <h1>{{project.building.phases[0].project_name}}</h1>
        <div class="body">
            <div class="body-text" ng-repeat="bodytext in getPropertiesWithTag(project.building.legacy.templates, tag)">
              <div ng-bind-html="bodytext.text"></div>
            </div>

            <div class="testimonials" ng-if="getPropertiesWithTag(project.building.legacy.testimonials, tag)">
                <h3>Testimonials</h3>
                <div ng-repeat="testimonial in getPropertiesWithTag(project.building.legacy.testimonials, tag)">
                    <figure>
                        <blockquote ng-bind-html="testimonial.testimonial"></blockquote>
                        <figcaption>
                            <cite>{{testimonial.citation}}</cite>
                                <span ng-if="testimonial.date"> - {{testimonial.date | date: "MMMM'&nbsp;'d'&nbsp;'yyyy"}}</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="quotes" ng-if="getPropertiesWithTag(project.building.legacy.quotes, tag)">
                <h3>Quotes</h3>
                <div ng-repeat="quote in getPropertiesWithTag(project.building.legacy.quotes, tag)">
                    <figure>
                        <blockquote ng-bind-html="quote.quote"></blockquote>
                        <figcaption>
                            <cite>{{quote.citation}}</cite> - {{quote.date | date: "MMMM'&nbsp;'d'&nbsp;'yyyy"}}<br>
                            <span ng-if="quote.context">({{quote.context}})</span>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
        <div class="bites">
            <div class="data">
                <div class="attribution">{{project.building.attribution}}</div>
                <div class="client">
                    <h2>Client        </h2>
                    <p>{{project.building.client.main}}</p>
                </div>
                <div class="location">
                    <h2>Location      </h2>
                    <p>{{project.building.locations[0].address.state_county}}, {{project.building.locations[0].address.country}}</p>
                </div>
                <div class="completion">
                    <h2>Completion    </h2>
                    <p>{{project.building.legacy.start_date | toISODate | date: 'MMMM yyyy'}} - {{project.building.legacy.completion_date | toISODate | date: 'MMMM yyyy'}}</p>
                </div>
                <div class="value">
                    <h2>Value         </h2>
                    <p>{{project.building.legacy.final_budget | currency:"$":0}}</p><!-- This needs to be upgraded to include the right currency -->
                </div>
                <div class="services">
                    <h2>Services      </h2>
                    <p ng-bind-html="project.building.phases[0].services_scope"></p>
                </div>
                <div class="size">
                    <h2>Size          </h2>
                    <p ng-repeat="dim in getPropertiesWithTag(project.building.dims, tag)">
                        {{dim.measurement | number:0}}{{dim.unit}} {{dim.title}}
                        <span ng-if="dim.standard_name">({{dim.standard_name}}
                        <span ng-if="dim.standard_version">, {{dim.standard_version}}</span>)</span>
                        <!-- This is a headfuck, but it comes out as: 24000000m² GFA (BCUK , V3 ) -->
                    </p>
                </div>
                <div class="brief-elements" ng-if="getPropertiesWithTag(project.building.brief_elements, tag)">
                    <h2>Brief Elements</h2>
                    <ul>
                        <li ng-repeat="brief_element in getPropertiesWithTag(project.building.brief_elements, tag)">
                            {{brief_element.description}}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="grabs">
                <div ng-if="getPropertiesWithTag(project.building.legacy.initiatives, tag)">
                    <h3>Value Add</h3>
                    <ul>
                        <li ng-repeat="initiative in getPropertiesWithTag(project.building.legacy.initiatives, tag)">
                            {{initiative.title}}
                        </li>
                    </ul>
                </div>
                <div ng-if="getPropertiesWithTag(project.building.legacy.esd.initiatives, tag)">
                    <h3>ESD</h3>
                    <ul>
                        <li ng-repeat="esdInitiative in getPropertiesWithTag(project.building.legacy.esd.initiatives, tag)">
                            {{esdInitiative.title}}
                        </li>
                    </ul>
                </div>
                <div ng-if="getPropertiesWithTag(project.building.legacy.certifications, tag)">
                    <h3>Certifications</h3>
                    <ul>
                        <li ng-repeat="certification in getPropertiesWithTag(project.building.legacy.certifications, tag)">
                            {{certification.name}}
                        </li>
                    </ul>
                </div>
                <div ng-if="getPropertiesWithTag(project.building.legacy.awards, tag)">
                    <h3>Awards</h3>
                    <ul>
                        <li ng-repeat="award in getPropertiesWithTag(project.building.legacy.awards, tag)">
                            {{award.date | date: "yyyy ' - '"}}{{award.award}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
