<h2>External team</h2>
<p class="explantory-text">This keeps track of the parties involved in this project.</p>
<p class="explantory-text">This will show up on a timeline eventually.</p>
<div ng-repeat="member in project.building.building_relationships">
	<editable-group object="project" lens="building.building_relationships[{{member|id}}]" subgroup-class="alert alert-info col-md-5">
	    <editable property="entity"                   label="Entity"                     >What is this entity's name? Arup Facades etc.</editable>
	    <editable property="relationship_name"        label="Their role"                 >What was their role on the team? Structural engineer, ergonomist etc.</editable>
	    <editable property="relationship_description" label="Description" type="textarea">Describe the relationship. This is internal, it's to give future teams some insight. Don't hold back; were they great or useless?</editable>
	    <editable property="start_date"               label="Start Date"  type="date"    >What date did this relationship start?</editable>
	    <editable property="end_date"                 label="End Date"    type="date"    >What date did this relationship finish?</editable>
	</editable-group>
</div>
