<h2>Relationships</h2>
<p class="explantory-text">This records the key relationships we had during the project and the state that they were left in. If person X at company Y loves us, but person Z got really annoyed then record that sort of thing here. This is so in future we can go back and find out what not to say or what to talk up. E.g. if we left it in a screaming argument then we need to patch things up before we ask for a favour!</p>
<editable-group object="project" lens="building.relationship_description" subgroup-class="alert alert-info col-sm-5">
    <editable property="client"      label="Client"      type="textarea">Describe the relationship we had with the client.</editable>
    <editable property="stakeholder" label="Stakeholder" type="textarea">Describe the relationship we had with the stakeholders.</editable>
    <editable property="councils"    label="Councils"    type="textarea">Describe the relationship we had with the council.</editable>
</editable-group>
