<article>

    <div class="page-header">
      <h1>{{project.building.phases[0].project_name}}
            <small>{{ project.project_number }}</small>
        </h1>
    </div>

    <tabset>
        <tab heading="Summary">
            include "summary_.html"
        </tab>
        <tab heading="Location">
            include "location_.html"
        </tab>
        <tab heading="Size">
            include "dims_.html"
        </tab>
        <tab heading="People">
            include "client_.html"
            include "relationships_.html"
        </tab>
        <tab heading="Phases">
            include "phase_.html"
        </tab>
        <tab heading="Legacy">
            include "dates_.html"
            include "final_budget_.html"
            include "testimonials_.html"
            include "quotes_.html"
            include "photography_.html"
            include "awards_.html"
        </tab>
        <tab heading="Features">
            include "initiatives_.html"
            include "certifications_.html"
        </tab>
        <tab heading="Text">
            include "template_.html"
        </tab>
        <tab heading="Press">
            include "press_.html"
        </tab>
        <tab heading="Styleguide">
            include "styleguide_.html"
        </tab>
        <tab heading="Project Sheets">
          <tabset>
            <tab ng-repeat="tag in tags()" heading="{{tag}}">
              include "project-sheet_.html"
            </tab>
          </tabset>
        </tab>
    </tabset>
</article>
