<h2>Project source</h2>
<editable-group object="project" lens="building.project_source" subgroup-class="alert alert-info col-sm-6">
    <editable property="competition_win" label="competition win">helpText</editable>
    <editable property="competition_URL" label="competition URL">helpText</editable>
</editable-group>

<h3>Referred by</h3>
<editable-group object="project" lens="building.project_source.referred_by" subgroup-class="alert alert-info col-sm-6">
     <editable property="BVN_staff_login"      label="BVNstaff login"      >helpText</editable>
     <editable property="contact_name"         label="contact name"        >helpText</editable>
     <editable property="contact_organisation" label="contact organisation">helpText</editable>
</editable-group>