<h2>Styleguide</h2>
<p class="explantory-text">So that all our project sheets look the same and read as if they are written with one voice; here are some guidelines.</p>
<h3>General</h3>
<p>As a base we use the Economist style guide. Variations from that are detailed below.</p>
<h3>Measurements</h3>
<p>All measurements are to be in SI units or SI derivatives.</p>
<p>Areas are in m&sup2; or ha</p>
<p>Never use M&sup2;, M2, m2, sqm, sq.m, Hectares etc.</p>
<p>Where a project sheet requires measurements in non-SI units (e.g. ft&sup2; when presenting project sheets to North American clients) include the measurements both in SI and non-SI units.</p>
<h3>Words</h3>
<p>Masterplan is one word (NOT master plan or master-plan)</p>
<br>
<p>loads more stylistic ranting to come here!</p>
