<div class="row">
    <div class="col-lg-6">
        <editable-group object="project" lens="" subgroup-class="alert alert-info col-sm-12">
            <editable property="project_number" label="Project Number">This is the project number. It should just be the part up to the dot, not the dot and the number after e.g. S0809004 not S0809004.GAR. You can't edit it just yet, but that's coming really soon.</editable>
        </editable-group>
        
        <editable-group object="project" lens="building" subgroup-class="alert alert-info col-sm-12">
            <editable property="legacy_bd_number" label="BD Number">This is this project's BD number. If this had a BD number then put it here.</editable>
        </editable-group>
        
        <editable-group object="project" lens="building" subgroup-class="alert alert-info col-sm-12">
            <editable property="planning_authority" label="Planning Authority">Which planning authority's jurastiction was this project under?</editable>
        </editable-group>
        
        <p class="explantory-text">This is a short, overall summary of the project</p>
        <editable-group object="project" lens="building" subgroup-class="alert alert-info col-sm-12">
            <editable property="description"            label="Notes"                  type="textarea"         >This is A place to keep notes about the progress of cleaning this project. Eventually it will change into an internal, easy to understand summary of the project.</editable>
            <editable property="attribution"            label="Attribution"            editable-typeahead="true">What organisation did this project? We've had many names over our past!</editable>
            <editable property="BCA_classification"     label="BCA Classification"     editable-typeahead="true" type="tags">The BCA classification of this project.</editable>
            <editable property="project_categories"     label="Project Categories"     type="tags"             >A list of the catagories that this project is in.</editable>
            <!-- <editable property="project_sub_catagories" label="Project Sub-categories"                         >A comma separated list of the catagories that this project is in. [TODO: why does this exist?]</editable> -->
        </editable-group>
        
        <p class="explantory-text">What were the key brief elements?</p>
        <div ng-repeat="element in project.building.brief_elements">
            <editable-group object="project" lens="building.brief_elements[{{element|id}}]" subgroup-class="alert alert-info col-md-5">
                <editable property="description" label="Description"            >What were the key brief elements?</editable>
                <editable property="tags"        label="Tags"        type="tags"></editable>
            </editable-group>
        </div>
        
        <h3>Related Projects</h3>
        <p class="explantory-text">There are the projects that are related to this one.</p>
        <editable-group ng-repeat="related_project in project.related_projects"
                        object="project"
                        lens="related_projects[{{related_project|id}}]"
                        subgroup-class="alert alert-info">
          <editable property="project_number" label="Project Number">The project number of the related project</editable>
          <editable property="description" label="Relationship Description" type="textarea">A description of the project's relation</editable>
        </editable-group>
    </div>
    
    <div class="col-lg-6">
        <h3>Team</h3>
        <p class="explantory-text">This is everyone who has put time against this project.</p>
        <ul class="personal-project-list">
          <li ng-repeat="person in getRelatedPeople()">
            <img ng-src="{{person.employee.photo.bw || 'images/fb_stormtrooper.jpg'}}"><a href="#/people/{{person.employee.login}}">{{person.name.preferred_first}} {{person.name.preferred_last}}</a>
          </li>
        </ul>
    </div>
</div>
