<h1>{{ project.building.address.building_name }}</h1>
<editable-group object="project" lens="building" subgroup-class="alert alert-info col-sm-12">
    <editable property="description"            label="Description" type="textarea">This is an internal, easy to understand summary of the project.</editable>
    <editable property="attribution"            label="Attribution"                >.</editable>
    <editable property="BCA_classification"     label="BCA Classification"         >The BCA classification of this project</editable>
    <editable property="project_categories"     label="Project Categories"         >A comma separated list of the catagories that this project is in</editable>
    <editable property="project_sub_catagories" label="Project Sub-categories"     >A comma separated list of the catagories that this project is in. [TODO: why does this exist?]</editable>
</editable-group>
