<h2>Template</h2>
<p class="explantory-text">This is the text that will go onto the project sheet and onto awards boards.</p>
<!-- <editable-group object="project" lens="building.legacy" subgroup-class="alert alert-info col-sm-12">
     <editable property="one_line_grab"             label="One line grab"                            >If you only had 10 seconds to talk about this project, what would you say? Think of this as the Tweet of this project.</editable>
     <editable property="description_project_sheet" label="Description project sheet" type="textarea">This is the text that will go onto this project's project sheet. In future we're going to auto generate a lot of these sheets, so this is the 'source of truth'.</editable>
     <editable property="description_awards_style"  label="Description awards style"  type="textarea">This is the text that was/would/will be on this project's awards submission board.</editable>
     <editable property="innovation_client_style"   label="Innovation client style"   type="textarea">Client style means that you shouldn't use architecure-words. For example 'Materiality' isn't a real word outside of the profession. Keep it straightforward and punchy; don't waffle. </editable>
     <editable property="innovation_value_add"      label="Innovation value add"      type="textarea">How did our inovation imporve the project? What value did it add?</editable>
     <editable property="interesting_things"        label="Interesting things"        type="textarea">What were the outstandingly interestign things about this project?</editable>
     <editable property="brief_elements"            label="Brief elements"            type="textarea">What were the important things that the client asked for in this project?</editable>
     <editable property="security_level"            label="Security level"            type="textarea">Is this project secret? Can we say some things but not others? What should people be aware of?</editable>
</editable-group> -->


<div ng-repeat="template in project.building.legacy.templates">
    <editable-group object="project" lens="building.legacy.templates[{{template|id}}]" subgroup-class="alert alert-info col-sm-4">
        <editable property="title" label="Title" editable-typeahead="true">This is a description for this bit of text - make it descriptive!</editable>
        <editable property="text"  label="Text"  type="textarea"         >This is the body </editable>
        <editable property="tags"  label="Tags"  type="tags"             >Tags define which project sheet this piece of information goes onto.</editable>
    </editable-group>
</div>
