<h2>Template</h2>
<p class="explantory-text">This is the text that will go onto the project sheet and onto awards boards.</p>

<div ng-repeat="template in project.building.legacy.templates">
    <editable-group object="project" lens="building.legacy.templates[{{template|id}}]" subgroup-class="alert alert-info col-sm-11">
        <editable property="title" label="Title" editable-typeahead="true">This is a description for this bit of text - make it descriptive!</editable>
        <editable property="text"  label="Text"  type="textarea"         >This is the body </editable>
        <editable property="tags"  label="Tags"  type="tags"             >Tags define which project sheet this piece of information goes onto.</editable>
    </editable-group>
</div>
