<h2>template</h2>
<editable-group object="project" lens="building.legacy" subgroup-class="alert alert-info col-sm-6">
     <editable property="one_line_grab"             label="one         line    grab" >helpText</editable>
     <editable property="description_project_sheet" label="description project sheet">helpText</editable>
     <editable property="description_awards_style"  label="description awards  style">helpText</editable>
     <editable property="innovation_client_style"   label="innovation  client  style">helpText</editable>
     <editable property="interesting_things"        label="interesting things"       >helpText</editable>
     <editable property="brief_elements"            label="brief       elements"     >helpText</editable>
     <editable property="security_level"            label="security    level"        >helpText</editable>
</editable-group>