<h2>Testimonials</h2>
<p class="explantory-text">This is where we record the things that people have said about the project.</p>
<div ng-repeat="testimonial in project.building.legacy.testimonials">
    <editable-group object="project" lens="building.legacy.testimonials[{{testimonial|id}}]" subgroup-class="alert alert-info col-sm-6">
        <editable property="testimonial" label="testimonial"                        >Someone like the project? What did they say?</editable>
        <editable property="citation"    label="citation"   editable-typahead="true">Who said it?</editable>
        <editable property="date"        label="date"       type="date"             >When did they say it?</editable>
    </editable-group>
</div>
