<%= form_for(@environmental_sustainable_design) do |f| %>
  <% if @environmental_sustainable_design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@environmental_sustainable_design.errors.count, "error") %> prohibited this environmental_sustainable_design from being saved:</h2>

      <ul>
      <% @environmental_sustainable_design.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
