<h1>Listing environmental_sustainable_designs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @environmental_sustainable_designs.each do |environmental_sustainable_design| %>
      <tr>
        <td><%= link_to 'Show', environmental_sustainable_design %></td>
        <td><%= link_to 'Edit', edit_environmental_sustainable_design_path(environmental_sustainable_design) %></td>
        <td><%= link_to 'Destroy', environmental_sustainable_design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Environmental sustainable design', new_environmental_sustainable_design_path %>
