<p id="notice"><%= notice %></p>

<p>
  <strong>Employee code:</strong>
  <%= @finance.employee_code %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
